﻿@{
    ViewBag.Title = "Configuraciones";
}
<section class="admin-dash_card" role="board" ng-controller="configuracion as sp">
    <section class="admin-title">
        <h1 class="admin-h1">CONFIGURACIONES</h1>
    </section>


    <section class="admin-word_form" style="top: 57%;z-index: 999" ng-if="sp.displayAdd">
        <header class="admin-h2">AGREGAR CONFIGURACION</header>
        <table>
            <thead>
            <tr>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>
                    TIPO CONFIGURACION
                </td>
                <td>
                    <input type="text" class="admin-input" ng-model="sp.conf.TipoConfig" placeholder="TIPO CONFIGURACION" disallow-spaces>
                </td>
            </tr>
            <tr>
                <td>
                    STATUS
                </td>
                <td>
                    <input type="text" class="admin-input" ng-model="sp.conf.EsActivo" placeholder="STATUS" disallow-spaces>
                </td>
            </tr>
         
            <tr>
                <td>
                    <a class="admin-butt admin-butt--line admin-butt--blue" ng-click="sp.saveConf()">GUARDAR</a>
                </td>
                <td>
                    <a class="admin-butt admin-butt--line admin-butt--red"  ng-click="sp.displayAdd = false">CANCELAR</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>

    @*<section style="padding-top: 7px">
        <a class="admin-butt admin-butt--line admin-butt--blue"
           style="display: block;" ng-click="sp.displayAdd = true">Agregar</a>
    </section>*@
    
    <section style="padding-top: 7px">
        <a class="admin-butt admin-butt--line admin-butt--blue"
           style="display: block;" ng-click="sp.testVision()">Probar Vision</a>
    </section>
    
    <section style="padding-top: 7px">
        <a class="admin-butt admin-butt--line admin-butt--blue"
           style="display: block;max-width: 18em;" ng-click="sp.sendToWinners()">Enviar mensajes a ganadores</a>
    </section>

    <section class="admin-cupon admin-cupon--report">
        <div ui-grid="sp.confGrid" ui-grid-selection class="myGrid"></div>
    </section>




</section>
@section masterjs
{
    <script src="~/Content/js/angular_app/controllers/configuracion.controller.js"></script>
}