﻿@{
    ViewBag.Title = "Carga de ganadores";
}
<section class="admin-dash_card" role="board" ng-controller="dlc as sp">
    <section class="admin-title">
        <h1 class="admin-h1">Carga DLC</h1>
    </section>

    <section style="padding-top: 7px">
        <div style="display: inline">
            <label for="file-upload"
                   class="custom-file-upload admin-butt admin-butt--line admin-butt--blue">
                <i class="fa fa-cloud-upload"></i> Seleccionar Archivo
            </label>
            <input type="file" id="file-upload" file-model="csvFile"/>
        </div>
        <div style="display: inline"><a class="admin-butt admin-butt--line admin-butt--blue"
                                        style="display: block;" ng-click="sp.addDlcs()">Subir CSV</a></div>
       
    </section>

    <section class="admin-cupon admin-cupon--report">
        <div ui-grid="sp.dlcGrid" ui-grid-selection class="myGrid"></div>
    </section>
</section>
@section masterjs
{
    <script src="~/Content/js/angular_app/controllers/dlc.controller.js"></script>
}
