﻿@{
    ViewBag.Title = "Carga de ganadores";
}
<section class="admin-dash_card" role="board" ng-controller="ganador as sp">
    <section class="admin-title">
        <h1 class="admin-h1">GANADORES</h1>
    </section>


    <section class="admin-word_form" style="top: 57%;z-index: 999" ng-if="sp.displayAdd">
        <header class="admin-h2">AGREGAR GANADOR</header>
        <table>
            <thead>
                <tr>
                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>
    </section>

    <section style="padding-top: 7px">
        <a class="admin-butt admin-butt--line admin-butt--blue"
           style="display: block;" ng-click="sp.getLayout()">Descargar Layout</a>
    </section>
    <section style="padding-top: 7px">
        <div style="display: inline"> <label for="file-upload" class="custom-file-upload admin-butt admin-butt--line admin-butt--blue">
                <i class="fa fa-cloud-upload"></i> Seleccionar Archivo
            </label>
            <input type="file" id="file-upload" file-model="csvFile" /></div>
        <div style="display: inline"><a class="admin-butt admin-butt--line admin-butt--blue"
                                        style="display: block;" ng-click="sp.addMultipleWinners()">Subir CSV</a></div>
       
        
    </section>

    <section class="admin-cupon admin-cupon--report">
        <div ui-grid="sp.ganadoresGrid" ui-grid-selection ui-grid-exporter class="myGrid"></div>
    </section>
</section>
@section masterjs
{
    <script src="~/Content/js/angular_app/controllers/ganador.controller.js"></script>
}
