﻿@{
    ViewBag.Title = "Home Page";
}
<section class="admin-dash_card" role="board">
    <section class="admin-title">
        <h1 class="admin-h1">ADMINISTRACION DE PRODUCTOS</h1>
    </section>


    <section class="admin-word_form">
        <header class="admin-h2">AGREGAR PRODUCTO</header>
        <table>
            <thead>
                <tr>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td colspan="2">
                        <input type="text" class="admin-input" ng-model="wd.word.text" placeholder="NOMBRE DE PRODUCTO" disallow-spaces>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="admin-butt admin-butt--line admin-butt--blue" ng-click="wd.addWord()">GUARDAR</a>
                    </td>
                    <td>
                        <a class="admin-butt admin-butt--line admin-butt--red" ng-click="wd.hidePopUp('admin-word_add')">CANCELAR</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

  


</section>
