﻿@{
    ViewBag.Title = "SUB PRODUCTO";
}
<section class="admin-dash_card" role="board" ng-controller="premio as sp">
    <section class="admin-title">
        <h1 class="admin-h1">ADMINISTRACION</h1>
    </section>


    <section class="admin-word_form" style="top: 57%;z-index: 999" ng-if="sp.displayAdd">
        <header class="admin-h2">AGREGAR PREMIOS</header>
        <table>
            <thead>
            <tr>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>
                    PREMIO
                </td>
                <td>
                    <input type="text" class="admin-input" ng-model="sp.premio.Nombre" placeholder="PREMIO" disallow-spaces>
                </td>
            </tr>
            <tr>
                <td>
                    MARCA
                </td>
                <td>
                    <input type="text" class="admin-input" ng-model="sp.premio.Marca" placeholder="MARCA" disallow-spaces>
                </td>
            </tr>
            <tr>
                <td>
                    CANTIDAD
                </td>
                <td>
                    <input type="number" class="admin-input" ng-model="sp.premio.Cantidad" placeholder="0" disallow-spaces>
                </td>
            </tr>
            <tr>
                <td>
                    DESCRIPCION
                </td>
                <td>
                    <input type="text" class="admin-input" ng-model="sp.premio.Descripcion" placeholder="OPCIONAL" disallow-spaces>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="admin-butt admin-butt--line admin-butt--blue" ng-click="sp.savePremio()">GUARDAR</a>
                </td>
                <td>
                    <a class="admin-butt admin-butt--line admin-butt--red"  ng-click="sp.displayAdd = false">CANCELAR</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
    

    
    <section class="admin-cupon admin-cupon--report">
        <div ui-grid="sp.premiosGrid" ui-grid-selection ui-grid-exporter class="myGrid"></div>
    </section>
</section>
@section masterjs
{
    <script src="~/Content/js/angular_app/controllers/premio.controller.js"></script>
}