﻿@{
    ViewBag.Title = "";
}
<section class="admin-dash_card" role="board" ng-controller="reporte as sp">
    <section class="admin-title">
        <h1 class="admin-h1">REPORTE LOTES</h1>
    </section>
    
	<section style="padding-top: 7px">


		<div style="display: inline-grid;">
			<span>Fecha inicial:</span>
		</div>

		<div style="display: inline-grid;">
			<datepicker date-format="yyyy-MM-dd" date-set="{{sp.FechaInicial}}">
				<input ng-model="fechaInicial" type="text" />
			</datepicker>
		</div>


		<div style="display: inline-grid;">
			<span style="margin-left: 25px;">Fecha Final:</span>
		</div>


		<div style="display: inline-grid;">
			<datepicker date-format="yyyy-MM-dd" date-set="{{sp.fechaFinal}}">
				<input ng-model="fechaFinal" type="text" style="margin-right: 25px;" />
			</datepicker>
		</div>


		<div style="display: inline" ng-if="!sp.dowloading" ng-click="sp.downloadReport()">
			<label for="file-upload"
			       class="custom-file-upload admin-butt admin-butt--line admin-butt--blue">
				<i class="fa fa-cloud-download"></i> Descargar Reporte
			</label>
		</div>

		<div style="display: inline" ng-if="sp.dowloading">
			<label for="file-upload"
			       class="custom-file-upload admin-butt admin-butt--line admin-butt--blue">
				<i class="fa fa-cloud-download"></i> Descargando Reporte Espera un momento.
			</label>
		</div>

	</section>
    
    

    <section class="admin-cupon admin-cupon--report">
        <div ui-grid="sp.reporte" ui-grid-selection ui-grid-pagination ui-grid-exporter ui-grid-resize-columns class="myGrid"></div>
    </section>

</section>
@section masterjs
{
    <script src="~/Content/js/angular_app/controllers/reportebdt.controller.js"></script>
    <script src="~/Content/js/angular_app/services/exportUiGrid.service.js"></script>

}