﻿@{
    ViewBag.Title = "SUB PRODUCTO";
}
<section class="admin-dash_card" role="board" ng-controller="subproducto as sp">
    <section class="admin-title">
        <h1 class="admin-h1">SUBPRODUCTOS</h1>
    </section>


    <section class="admin-word_form" style="z-index: 999" ng-if="sp.displayAdd">
        <header class="admin-h2">AGREGAR SUB PRODUCTO</header>
        <table>
            <thead>
            <tr>
                 
            </tr>
            </thead>

            <tbody>
            <tr ng-if="sp.add">
                <td>
                    Selecciona un producto
                </td>
                <td>
                    <select class="admin-select" ng-model="sp.subProduct.Product" ng-options="x.name for x in sp.products">
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Nombre de sub producto
                </td>
                <td>
                    <input type="text" class="admin-input" ng-model="sp.subProduct.SubProduct" placeholder="NOMBRE DE SUBPRODUCTO" disallow-spaces>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="admin-butt admin-butt--line admin-butt--blue" ng-click="sp.saveProduct()" ng-if="sp.add">GUARDAR</a>
                    <a class="admin-butt admin-butt--line admin-butt--blue" ng-click="sp.edit()" ng-if="!sp.add">GUARDAR CAMBIOS</a>
                </td>
                <td>
                    <a class="admin-butt admin-butt--line admin-butt--red" ng-click="sp.displayAdd = false; sp.subProduct = {}">CANCELAR</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
    
    <section style="padding-top: 7px">
        <a class="admin-butt admin-butt--line admin-butt--blue" style="display: block;" ng-click="sp.displayAdd = true; sp.add = true">Agregar</a>
    </section>
    
    <section class="admin-cupon admin-cupon--report">
        <div ui-grid="sp.subProductsGrid" ui-grid-selection  class="myGrid"></div>
    </section>
</section>
@section masterjs
{
    <script src="~/Content/js/angular_app/controllers/subproducto.controller.js"></script>
}
