﻿@{
    ViewBag.Title = "Carga de ganadores";
}
<section class="admin-dash_card" role="board" ng-controller="validarLata as sp">
    <section class="admin-title">
        <h1 class="admin-h1">VALIDAR LATAS</h1>
    </section>

    <section class="admin-cupon admin-cupon--report">
        <div ui-grid="sp.validarLataGrid" ui-grid-selection ui-grid-pagination ui-grid-resize-columns class="myGrid"></div>
    </section>
</section>
@section masterjs
{
    <script src="~/Content/js/angular_app/controllers/validardt.controller.js"></script>
}
