﻿@{
    ViewBag.TitleCine = "Cine Gratis con Pringles®| Error 404";
}

<div id="chatPage" class="chat container-fluid " style="margin-left:0 !important">
    <div class="row justify-content-center" style="padding-left: 0 !important">
        <div class="col-md-12 col-sm-12" style="padding-left: 0 !important; padding-right: 0 !important ">

            @*<input type="button" value="Descargar"  ng-click="descarga('Premios.zip')" />*@
            <div id="fondo" class="bgError-wp">
                <div class="d-flex justify-content-center ">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <img src="../../Content/Assets/Home/logo_pringles.svg" style="width: 120px; height: 120px;" alt="Responsive Image">
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <img src="../../Content/Assets/Errores/404text.png" style="    height: 319px; width: 365px;" alt="Responsive Image">
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <div class="botonError" ng-click="goHome()">
                                HOME CON MR.P
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>

