﻿<div id="chatPage" class="chat container-fluid " style="margin-left:0 !important">
    <div class="row justify-content-center" style="padding-left: 0 !important">
        <div class="col-md-12 col-sm-12" style="padding-left: 0 !important; padding-right: 0 !important ">
            <div class="header p-12 h-header row" style="margin-left: 0 !important">
                <div class="col-12 form-inline">
                    <div class="d-flex justify-content-start">
                        <img src="../../Content/Assets/Home/logo_pringles.svg" class="header-left-img float-start" alt="Responsive Image">
                    </div>
                    <div class="d-flex justify-content-center">
                        <img src="../../Content/Assets/Home/logo_cine.png" class=" header-center-img " alt="Responsive Image">
                    </div>

                </div>
            </div>
            @*<input type="button" value="Descargar"  ng-click="descarga('Premios.zip')" />*@
            <div id="chat" class="bg-wp p-12 h-panel scroll" ng-class="{'noClick': loading, 'force-footer-chat': !ingresalotes}">
                <img src="../../Content/Assets/Home/loader.gif" class="loader-img" ng-if="loading" />
                <div ng-repeat="item in listaConverzacion">
                    <div>
                        <div ng-click="EtapaActiva(item)"
                             ng-class="{'seleccionar': item.EsBoton, 'botonizquierda': item.EsBoton, 'globoizquierda': !item.EsBoton, 'message-button': item.EsBoton }"
                             ng-if="(item.Izquierda && item.Texto.length !=0) && item.Texto != 'Sube la foto'" class="red-bg-pringles message  f-left">
                            <p ng-class="{'white-pringles':!item.EsBoton,'red-pringles-btn-text':item.EsBoton}">
                                {{item.Texto}}
                            </p>
                            <p ng-if="!item.EsBoton" class="white-pringles f-right time-size">{{item.Hora | date:"shortTime"}}</p>
                            <p ng-if="item.EsBoton" class="white-pringles f-right time-size"></p>
                        </div>
                    </div>
                    <div>

                        <div ng-if="(item.Izquierda && item.Texto.length !=0) && item.Texto == 'Sube la foto'" class=" f-left btn-sube">
                            <input type="file" id="file-upload" file-model="imageFile" custom-on-change="uploadFile" class="custom-file-input" />
                        </div>
                    </div>
                    <div>

                        <div ng-if="(!item.Izquierda) && (item.Texto != 'Sube la foto')"
                             class="message-me white-bg-pringles f-right globoderecha ">
                            <p class="rojo">
                                {{item.Texto}}
                            </p>
                            <p class="rojo f-right time-size">{{item.Hora | date:"shortTime"}}</p>
                        </div>
                    </div>
                    <img ng-if="item.NombreImagen=='0'" src="../../Content/Assets/Home/Wink-_-320-X-320.gif" class=" f-left img-0" alt="Responsive Image">
                    <div ng-if="item.NombreImagen=='2'" class="mecanicas message  f-left "></div>
                    <img ng-if="item.NombreImagen=='3'" src="../../Content/Assets/Chat/Tutorial.png" class=" f-left img-3" alt="Responsive Image">
                    <img ng-if="item.NombreImagen=='5'" src="../../Content/Assets/Chat/5.gif" class=" f-left  img-5" alt="Responsive Image">
                    <img ng-if="item.NombreImagen=='6'" src="../../Content/Assets/Chat/6.gif" class=" f-left  img-6" alt="Responsive Image">
                    <img ng-if="item.NombreImagen=='7'" src="../../Content/Assets/Chat/membranas1.png" class=" f-left  img-7" alt="Responsive Image">
                    <img ng-if="item.NombreImagen=='9'" src="../../Content/Assets/Chat/9.gif" class=" f-left  img-9" alt="Responsive Image">
                    <img ng-if="item.NombreImagen=='10'" src="../../Content/Assets/Chat/10.gif" class=" f-left  img-10" alt="Responsive Image">
                    <img ng-if="item.NombreImagen=='11'" src="../../Content/Assets/Chat/lote3.png" class=" f-left  img-7" alt="Responsive Image">
                    <img ng-if="item.NombreImagen=='12'" src="../../Content/Assets/Chat/lote_expli.png" class=" f-left  img-12" alt="Responsive Image">

                </div>


            </div>
            <div class="force-footer-chat-bg" >
                <div>
                    
                </div>
            </div>
            <div class="header h-footer" ng-show="ingresalotes">
                <div>
                    <input type="text" ng-model="currentText" my-enter="finalizaLote()" class="input-text" ng-class="{'customDisabledInput': !ingresalotes}" ng-disabled="!ingresalotes" />
                    <img src="../../Content/Assets/Home/send.svg" class="mensaje-img-derecha float-end seleccionar" alt="Responsive Image" ng-click="finalizaLote()">
                </div>
            </div>

        </div>
    </div>
</div>

<div id="registroPage" class="container-fluid  d-none" style="margin-left:0 !important">
    <div class="row justify-content-center" style="padding-left: 0 !important">
        <div class="col-md-12 col-sm-12" style="padding-left: 0 !important; padding-right: 0 !important ">
            <div class="header p-12 h-header row" style="margin-left: 0 !important">
	            <div class="col-12 form-inline">
		            <div class="d-flex justify-content-start">
			            <img src="../../Content/Assets/Home/logo_pringles.svg" class="header-left-img float-start" alt="Responsive Image">
		            </div>
		            <div class="d-flex justify-content-center">
			            <img src="../../Content/Assets/Home/logo_cine.png" class=" header-center-img " alt="Responsive Image">
		            </div>
			        
	            </div>
            </div>
            <div id="regViewContent" class="bg-wp p-12 h-panel scroll" ng-class="{'noClick': loading}">
                <img src="../../Content/Assets/Home/loader.gif" class="loader-img" ng-if="loading"/>
                <div id="reg-container" class="twoColumnsRegister"></div>
                @using (Html.BeginForm(null, null, FormMethod.Post, new {id = "__AjaxAntiForgeryForm"}))
                {
                    @Html.AntiForgeryToken()
                }
            </div>
            <div class="header h-footer force-footer" id="my-footer-content-mobile-f">
                <div >
                   
                </div>
            </div>
        </div>
    </div>
</div>