﻿@using ArmaLaRumba.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}
@*<h2>@ViewBag.Title.</h2>*@
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <section id="loginForm" style="text-align:center;">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="text-white">INICIA SESIÓN PARA REGISTRAR TUS CÓDIGOS Y GANAR</h4>
                <br />
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group" style="text-align:left; width:100%;">
                    @*@Html.LabelFor(m => m.Email, new { @class = "col-md-12 control-label" })*@
                    <div class="col-lg-12" style="width:100%">
                        @Html.TextBoxFor(m => m.Email, new { @class = "text-center col-md-12 Inputs", placeholder = "CORREO ELECTRÓNICO" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" style="text-align:left;">
                    @*@Html.LabelFor(m => m.Password, new { @class = "col-md-12 control-label" })*@
                    <div class="col-lg-12" style="width:100%">
                        @Html.PasswordFor(m => m.Password, new { @class = "text-center col-md-12 Inputs", placeholder = "CONTRASEÑA" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="form-group">
                        <div class="col-md-offset-2 col-md-12">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>*@
                //Habilite esta opción una vez tenga la confirmación de la cuenta habilitada para la funcionalidad de restablecimiento de contraseña
                <br />

                <div class=" text-center ">
                    <div class="">
                        <input type="submit" value="INICIAR SESIÓN" class="btn  " style=" font-size:15px; color: #b90c18; font-weight:bold; margin-top:-85px;" />
                    </div>
                </div>



            }
        </section>
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}