﻿@using Kelloggs.DTO
@{
    ViewBag.Title = "Arranca a Ganar con Kellogg’s® | Login";
}
@section Tags
{
    <title>Arranca a Ganar con Kellogg’s® | Login</title>

    <meta name="title" content="Arranca a Ganar con Kellogg’s® | Login">
    <meta name="description" content="¡Calienta motores! Ingresa tu correo electrónico y contraseña para arrancar a ganar.">
    <meta name="keywords" content="Kellogg,Kellogg's, Kellogg's®, cereales, promoción, premios, productos, empaques, cajas, rifa, rifa quincenal, carro, Renault, Kwid Iconic, moto, AKT, pesos, tarjeta, dinero, Bancolombia, promo cereal.">
    <meta name="url" content="@(HttpContext.Current.Request.Url.ToString().Contains("stage") ? HttpContext.Current.Request.Url.ToString() : HttpContext.Current.Request.Url.ToString().Replace("http:", "https:"))">
    <!-- Metatags -->
    <!-- Facebook -->
    <meta property="og:url" content="@(HttpContext.Current.Request.Url.ToString().Contains("stage") ? HttpContext.Current.Request.Url.ToString() : HttpContext.Current.Request.Url.ToString().Replace("http:", "https:"))" />
    <meta property="og:title" content="Arranca a Ganar con Kellogg’s® | Login" />
    <meta property="og:image" content="https://www.promokelloggs.com/Content/Assets/share.png" />
    <meta property="og:description" content="¡Calienta motores! Ingresa tu correo electrónico y contraseña para arrancar a ganar." />
    <!-- Facebook -->
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="https://www.promokelloggs.com" />
    <meta name="twitter:title" content="Arranca a Ganar con Kellogg’s® | Login" />
    <meta name="twitter:description" content="¡Calienta motores! Ingresa tu correo electrónico y contraseña para arrancar a ganar." />
    <link rel="canonical" href="@(HttpContext.Current.Request.Url.ToString().Contains("stage") ? HttpContext.Current.Request.Url.ToString() : HttpContext.Current.Request.Url.ToString().Replace("http:", "https:"))" />
    <!-- Twitter -->
}
@section styles
{
    <link rel="stylesheet" href="~/Content/css/datepicker.min.css">
    <link rel="stylesheet" href="~/Content/css/select.min.css">
}
<main class="body-content bodyLogin d-flex flex-column justify-content-center align-content-center align-items-center" role="main">
    <h1 class="d-none">Arranca a Ganar con Kellogg’s® | Login</h1>

    <a class="skip-to-content-link" href="#LoginContainer">
        Ir al contenido principal
    </a>
    <section id="LoginContainer" class="main login" role="main">
        <div class="d-flex flex-row justify-content-center align-items-center">
            <div class="containerIniciaSesion d-flex flex-column justify-content-center align-items-center">
                <div class="w-100">
                    <div class="titleIniciaSesion">
                        <span class="text-barlow-black text-red">¡ARRANCA A GANAR!</span>
                    </div>
                    <div class="subTitleIniciaSesion">
                        <span class="text-barlow-boldItalic text-red">INICIA SESIÓN AQUÍ</span>
                    </div>
                </div>
                <div class="containerLogin">
                    <div class="flex-wrap epsilonlogin">
                        <!--FORMULARIO EPSILON-->
                        <div id="reg-container" class=""></div>
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                        <div class="not-register">
                            <a href="Registro" class="link linkRojo">¿AÚN NO TE HAS REGISTRADO?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/login")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/epsilon")
}