﻿
@{
    ViewBag.Title = "Mecanica";
}


@section Tags
{
    <title>@ViewBag.Title - Promoción Pringles® Snackea y Gana</title>

    <meta name="title" content="@ViewBag.Title - Promoción Pringles® Snackea y Gana">
    <meta name="description" content="Compra productos Pringles® y participa para ganar increíbles premios. Promoción válida en la República de Colombia. ">
    <meta name="keywords" content="Kellogg, Pringles, promoción, premios, snacks, productos, empaques, latas, códigos, registro, diversión, gamer, jugador.">

    <!-- Metatags -->
    <!-- Facebook -->
    <meta property="og:title" content="Promoción Pringles® Snackea y Gana" />
    <meta property="og:image" content="https://www.pringlessnackeaygana.com/Content/img/social/share/share.png" />
    <!-- Facebook -->
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="https://www.pringlessnackeaygana.com" />
    <meta name="twitter:title" content="Promoción Pringles® Snackea y Gana" />
    <meta name="twitter:description" content="Compra productos Pringles® y participa para ganar increíbles premios. Promoción válida en la República de Colombia. " />
    <meta property="og:image" content="https://www.pringlessnackeaygana.com/Content/img/social/share/share.png" />
    <link rel="canonical" href="@HttpContext.Current.Request.Url" />
    <!-- Twitter -->
}
<div class="container">
    <section class="main howtowin" role="main">
        <h1 class="title">
            <span class="normal">¿CÓMO</span>
            <span class="yellow">GANAR?</span>
        </h1>

        <div class="swiper-container howtowin__slider">
            <div class="swiper-pagination"></div>

            <div class="swiper-wrapper">
                <div class="swiper-slide howtowin__slide">
                    <figure class="howtowin__img">
                        <img src="/Content/Assets/Paso1.png" alt="Paso 1" title="Paso 1">
                        <figcaption>
                            <span class="howtowin__bullet">
                                <svg class="icon icon--circle" aria-hidden="true" role="presentation" viewBox="0 0 412.54 400.6"><path d="M400.25 193.27c1.08 26.76.28 52.34-10.43 75.43-7.23 15.57-19.46 43-31.03 55.86-17.23 19.16-36.43 35.32-61 46.18-21.85 9.65-45.22 15.16-70.84 16.2-32.6 1.3-72.25-4.04-99.43-16.73-19.72-9.2-40.42-24.34-55.35-39.25-7.24-7.23-29.73-25.6-42.05-51.35-12.55-26.24-14.87-59.9-15.3-70.8-1.93-47.8 19.23-107.2 51.56-139.86s89.54-52.5 140.8-54.57c22.73-.92 47.32-7.1 66.4 12 17.28 17.28 43.98 27.86 62.3 42.48 15.2 12.14 28.3 26.57 38.63 42.75 15.3 23.97 24.56 51.77 25.77 81.66z" class="icon__path01"/><g><path d="M166.38 391.33c.5.15.78.12 0 0h0zM51.43 69.5l.26-.32a6.81 6.81 0 0 1 .07-1.06l-.33 1.38zm54.33-38.95l.4-.12c-.1-.12-.1-.3-.4.12zM6.53 212.3c.02.57.1.88.18 1.1a7.63 7.63 0 0 1-.18-1.1zM284.9 383.94l-.26.1.72-.1-.46-.02z"/><path d="M283.8 384.77c-1.44.3.27-.45.85-.7-1.6.23-3.15.65-4.65 1.3.12.35 3.03-.64 3.8-.6zm123.25-166.83l.13.65c-.03-.26-.08-.46-.13-.65zm-382.3-12.5l.1.9c0-.46-.04-.7-.1-.9zm377.47 46.65l.5.52c-.17-.4-.33-.5-.5-.52zM51.75 68.12c.04-.18.1-.35.15-.52-.07.16-.12.33-.15.52zm111.3-56.82c.06.17.23.3.4.37.07-.01.13-.03.17-.03l-.58-.34zm230.53 144.33c.07-.04.13-.1.18-.2l-.75-1c.22.57.4.97.57 1.2zM245.18 6.97c.08-.06.3-.1.32-.18-.73-.16-2.1-.4-3.88-.53l-6.44-.17-.3.73 5.1-.07c1.7-.02 3.44.1 5.2.22z"/><path d="M313.24 66.55l-6.44-5.58c5.95 3.32 10.9 6.28 15.14 9.16 4.3 2.9 7.7 5.56 11.18 8.6 6.84 5.95 13 11.9 20.68 19.98l-1.04-.73c.9 1.35 2.34 1.8 5.87 5.83 1.75 2.02 4.02 4.96 6.74 9.48 2.68 4.53 5.87 10.63 8.87 19l-.13.06c.55 1.1.86.94 1.52 3.33-.57-1.98-1.24-3.92-1.87-5.9 1.97 3.12 4.04 5.72 6.04 10.24.25 1.03.1 1.48-.07 1.66 1.62 3.68 3.03 7.45 4.38 11.24l.16 3.8c.8 1.68 1.5 2 2.24 3.12.37.56.74 1.33 1.1 2.57.33 1.25.65 2.98.92 5.45.6-3.96 1.8 4.67 2.22 3.34-.07.53-.1 1.7-.2 2.64a240.87 240.87 0 0 1 1.88 10.96c.62 3.84 1 7.33 1.46 8.7l.26-3.77c.1-1.16.16-2.52.2-4.02.06-1.5.15-3.14.15-4.82.14-6.75-.23-14.4-.32-17.7 1.5 8.5.7 2.2.75.42l-.47-.48c-.86-5.12-.1-5.34-.53-7.93-.07.02-.13.12-.2.2l.2.3c-.1.28-.23.17-.38-.08-.16.1-.37-.08-.73-1.45l.17.23c-.38-1.02-.8-2.44-1.2-3.8l-1.04-3.43.68-.27c-1.25-1.62-2.97-7.9-5.1-14.3-2.1-6.4-4.6-12.96-5.96-15.23-1.84-5.1-6.34-10.06-9.86-15.66-3.03-4.33-3.7-5.5-3.85-6.22-.16-.73.12-.95-1.33-3.23-3.95-5.4.23 1.57-1.54-.44-1.45-2.25-2.94-4.5-4.5-6.68 3.2 3.4 1.82 1.24 1.47.4-2.3-2.62-5.12-6.12-7.8-8.95s-5.15-5.02-6.44-5.18l-6.08-6.36c-1.13-1.26-1.9-2-3.52-3.3.94 1.06 2.98 2.9 2.78 3.16-2.62-2.86-1.53-1-.4.07-2.46-1.6-8.16-6.6-13.7-10.67-5.5-4.1-10.63-7.57-11.53-7.18l.15-.25c-1.73.37-.53 2.43-4.22 1l-1.96-1.78-3.6-1.56c-2.03-1.68-.77-1.3-.7-1.4-5.7-2.8-12.78-8-18.5-12.72 1.37 2.5 2.93 4.9 4.53 7.35-1.25-1.04-2.64-2.4-4.14-3.76l-4.3-4.2c-2.73-2.7-4.83-5-5.68-5.04-.7-1.15-1.53-2.38-2.32-3.6-4.8-5.37-7.5-6.17-8.84-6.56-1.45-.3-2.03.15-4.46-1.3-1-.66-2.08-1.16-3.14-1.75-.53-.28-1.07-.58-1.6-.84l-1.66-.7 1.73.43c.57.17 1.14.38 1.7.56 1.13.4 2.28.73 3.4 1.2-1.62-.8-3.05-1.37-4.3-1.96-1.28-.54-2.44-.9-3.54-1.32-1.1-.44-2.2-.76-3.33-1.1-1.15-.32-2.37-.76-3.76-1.05 0 .01-.06.01-.07.03.4.1.63.17.67.24l-1-.07c-.46.26-1.62.4-3.26.43-1.62.14-3.78.05-6.17.1-6.83-.14-12.06 1.22-22.43.73l-2.47 1.4-3.83-.16-4-.12-.06-.97 6.84-.42c2.5-.16 5.27-.42 8.16-.7 5.76-.55 12-1.1 17.24-1.15l.18-.45c-6.25.02-12.98 1.03-16.83 1.22-1.9-.04-6.7-.7-3.33-1.6l-3.45 1.2-11.63.73c-3.18.15-5.72.44-8.3.65s-5.2.34-8.46.7c-3.27.3-7.22.63-12.44 1.37l1.88.15c-2.03.52-4.04 1.03-5.72 1.35-1.67.33-2.98.53-3.64.26-12.4 2.45-25.1 5.64-33.3 7.37l-1.32 1.68c-2.56.77-6.92.75-7.55 2.7-1.7.88-3.44 1.7-5.12 2.64-3.38 1.45-5.17 2.9-9.24 4.12h0c-.01 0-.02.01-.02.01l-.77.24c.02.03.05.05.08.06-7.66 3.35.52.83-8.25 4.66-3.07.8-2.24 2.95-6.4 5.02-1.63.3-3.2.73-4.83 1.1-1.92.95-3.38 1.8-4.65 2.65-1.26.87-2.3 1.8-3.4 2.8l-3.86 3.38c-1.52 1.33-3.3 3-5.7 4.95-2.53 1.62-4.42 2.88-5.55 3.1-1.1.25-1.38-.4-.3-2.26-1.53 2.47-1.8 3.07-2.33 3.77-.5.72-1.36 1.4-3.54 4.38-1.2.4-.8-.26-.08-1.84-4.97 4.35-2.4 3.33-5.65 7-.01 1.86.42 4.3-.5 5.55l1.45-1.2c-2.8 4.28-5.7 8.88-9.47 13.37l-.37-.5-3.07 5.4-.85-.06c-1.58 2.5-2.84 5.2-4.25 7.78l.77-.96-2.6 5.08c-1.07 2.2-2.3 4.57-3.33 6.22l-.3-.3c-1.57 2.3-2.66 4.68-3.76 7.04-1.08 2.36-2.04 4.75-2.82 7.25l-2.45 7.75c-.76 2.72-1.6 5.57-2.6 8.6l-.27-1.85c-2.2 3.9.87 1.53-1.03 6.38l-1.08-.05c.02 4.78-1.96 5.6-3.2 8.58l1.68-1.1-1.7 5.72c-1.9 6.3-2.53 3.6-3.08 2.47l.18 4.65-1.36.64c.75 3.5-.92 3.2-1 9.07-.52.4-.57-1.1-1.05.84.06 1.63.06 3.23.17 4.86l.37 4.86-.16-5.83 1.67.9c.37 3.05.12 5.04-.2 6.83l-.5 2.6a15.2 15.2 0 0 0-.07 2.9l-.38-2.98c.12 7.02-.74 7.33-1.16 11.3.3-1.24.82-3.1 1.04-.25.12 2.1-.6 1.13-.8 3.1 1.2.47 1.77 5.5 1.55 9.97-.17-.04-.34-.13-.46-.42.25 1.13.6 1.7.46 3.7l-1.4-1.08 1.54 3.73c-.15 2.58 1.2 6.18.28 5.94l-.4-1.42c.56 6.43 1.36 12.85 2.45 19.26l-.94.4c.86.82 1.27 3.45 1.66 5.77.4 2.32.85 4.3 1.64 3.78-.1 1.92 1.03 5.42 1.84 8.22.9 2.8 1.44 4.93.15 4.17 1.94 6.28 4.1 10.93 6.75 15.8 2.63 4.86 5.52 9.98 9.57 16.9.9 2.83 3.72 7.45 7.4 12.04 3.63 4.64 8.02 9.3 11.48 12.95 3.56 3.4 6.9 6.34 10.04 9.04l4.5 3.86L68 340.4c6.14 5.4 12.5 10.5 20.63 16.3 4.07 4.57 10.38 8.72 17.08 12.4 6.7 3.72 13.74 6.97 19.54 10.27l3.72.6c1.88 1.2 4.14 2.22 6.63 3.22 2.5.9 5.2 1.86 8.06 2.62 5.68 1.7 11.8 3.06 17.53 5.07 2.98.17 4.5.35 5.2.45-.53-.15-1.3-.5-1.44-1.14 3.27 1.12 10.17 1.7 9.5 2.8l-.88-.01c-.35.57 2.25.8 5.38 1.1s6.8.5 8.64 1.25l-1.93-1.53c2.13.35 4.26.58 6.4.87l-1.74.08c14.1-.1 24.16.32 34.17.42 5 .05 9.98-.08 15.33-.63 5.35-.56 11.08-1.54 17.48-3.4-3.2 2.05 5-1.7 5.63-.32 7.02.47 12.04-3.35 17.1-5.47-.02-.07.01-.18.28-.4a182.5 182.5 0 0 0 9.12-2.93c-4.68 3.84 5.9-3.93 1.55-.54 11.9-3.66 25.3-10.18 37.5-18.92 12.3-8.68 23.55-19.3 33.5-29.6l-1.22.58c1.26-1.32 2.52-2.72 3.84-4.24l2.05-2.5 1.86-2.5c2.4-3.3 4.45-6.4 6.26-8.6 3.66-4.4 4.96-11.17 5.85-13.08 2.04-5.7 5.93-9.8 4.72-7.54 2.63-5.83 3.57-12 7.92-19.6.7-.5 1.56-2.13 2.52-4.32.48-1.17 1-2.48 1.5-3.84.5-1.37.9-2.83 1.36-4.24 1.7-5.7 2.68-11.13 3.62-11.04l-.13-.14c2.1-5.54 2.84-11.24 3.3-16.97.46-5.74.6-11.55 1.4-17.7a3.58 3.58 0 0 0 .25.66c-1.63-8.44-3.68-16.62-5.9-24.7l-6 7.14c-1.5 7.02-3.2 13.92-5.22 20.54-.27 9.1-1.17 18-3.1 26.57-1 4.26-2.16 8.48-3.7 12.52-.34 1.03-.8 2-1.2 3.02l-.6 1.5-.7 1.63-2.9 6.56c-3.5 6.75-7.03 13.37-10.72 19.8-3.7 6.4-7.57 12.68-11.7 18.14-1.16 1.73-2.35 3.36-3.55 4.84-.64.74-1.1 1.37-1.9 2.25l-2.24 2.48c-3.02 3.27-6.1 6.47-9.26 9.54-6.34 6.13-13 11.82-20.08 16.85s-14.52 9.48-22.36 13.14c-7.87 3.7-16.15 6.88-24.54 9.37-2.27 1.17-4.58 2.26-6.92 3.32-10.4 1.32-22.04 3.27-34.15 4.15-12.08.88-24.67.8-35.9-1.08l-.58 1.16c-6.4-.52-5.88-1.3-7.43-1.68-14.78-1.7-29.6-4.53-43.4-9.2-3.45-1.17-6.83-2.45-10.1-3.88-3.3-1.4-6.58-3.04-9.8-4.76-6.46-3.43-12.73-7.33-18.76-11.52-6.03-4.18-11.8-8.7-17.24-13.4-2.7-2.38-5.35-4.8-7.85-7.3-2.86-2.84-5.65-5.35-8.24-7.83-10.44-9.87-19.5-20.2-26.05-31.25-1.06-2.27-3.42-6.6-5.44-10.87-1.92-4.36-3.54-8.8-3.74-10.78-6.96-15.27-10-33.92-10.97-51.22l.18.65c-.26-2.7-.48-5.42-.54-8.08.1-.34.24-.38.33-.13-.66-4.48-.5-10.36.2-16.45.7-6.1 1.98-12.4 3.2-17.86v.67c.82-4 1.53-8 2.57-11.94.5-1.97.9-3.95 1.48-5.9l1.68-5.83c.52-1.95 1.17-3.86 1.82-5.76l1.9-5.72 2.14-5.6 1.06-2.8 1.17-2.75c6.2-14.65 13.8-28.6 23.45-40.66 2.3-3.12 4.97-5.83 7.5-8.7 1.33-1.36 2.75-2.65 4.12-3.98l2.07-1.98 2.22-1.85c5.78-5.08 12.35-9.4 19.03-13.56 3.46-1.92 6.82-4 10.44-5.7l5.37-2.65 5.5-2.42 2.77-1.2 2.83-1.08 5.67-2.16 5.8-1.9c1.93-.64 3.87-1.28 5.85-1.8l11.3-2.73 5.8-1.36 5.92-1.26c1.98-.46 4-.83 6.02-1.2l6.1-1.15 9.34-1.43 9.5-1.1 6.4-.47 6.86-.44 6.93-.52c9.08-.72 17.66-1.22 25.17.05 1.3.52 6.18 1.07 11.42 3.55 1.36.54 2.65 1.4 4.05 2.18.7.4 1.33.97 2.02 1.45l1.04.75.98.9 2.17 1.95 3.06 2.87c2.1 1.82 4.23 3.67 6.42 5.3 4.36 3.37 8.83 6.37 13.05 8.98 4.23 2.65 8.2 4.95 11.7 6.93l13.34 7.46z"/><path d="M379.73 141.7l-.1-.25c-.46.2-.13.5.1.25zM284.98 30.1l.36.3-.92-1.63.56 1.34zm78.65 58.37c-2.85-3.5-3.1-3.56-2.82-2.95 1.06 1.24 2.04 2.27 2.82 2.95zm26.3 85.43c.3 2.16.47 1.3.6-.03l-.55-2.68-.22-1.03.16 3.74zm5-10.28l.56.6c-.4-1.3-.53-1.2-.56-.6z"/></g></svg>
                                <span class="text">1</span>
                            </span>
                            
                            <span class="yellow">COMPRA</span>
                            <span class="normal">CUALQUIER</span> <br>
                            <span class="yellow">PRODUCTO PRINGLES &reg;</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="swiper-slide howtowin__slide">
                    <figure class="howtowin__img">
                        <img src="/Content/Assets/Paso2.png" alt="Paso 2" title="Paso 2">
                        <figcaption>
                            <span class="howtowin__bullet">
                                <svg class="icon icon--circle" aria-hidden="true" role="presentation" viewBox="0 0 412.54 400.6"><path d="M400.25 193.27c1.08 26.76.28 52.34-10.43 75.43-7.23 15.57-19.46 43-31.03 55.86-17.23 19.16-36.43 35.32-61 46.18-21.85 9.65-45.22 15.16-70.84 16.2-32.6 1.3-72.25-4.04-99.43-16.73-19.72-9.2-40.42-24.34-55.35-39.25-7.24-7.23-29.73-25.6-42.05-51.35-12.55-26.24-14.87-59.9-15.3-70.8-1.93-47.8 19.23-107.2 51.56-139.86s89.54-52.5 140.8-54.57c22.73-.92 47.32-7.1 66.4 12 17.28 17.28 43.98 27.86 62.3 42.48 15.2 12.14 28.3 26.57 38.63 42.75 15.3 23.97 24.56 51.77 25.77 81.66z" class="icon__path01"/><g><path d="M166.38 391.33c.5.15.78.12 0 0h0zM51.43 69.5l.26-.32a6.81 6.81 0 0 1 .07-1.06l-.33 1.38zm54.33-38.95l.4-.12c-.1-.12-.1-.3-.4.12zM6.53 212.3c.02.57.1.88.18 1.1a7.63 7.63 0 0 1-.18-1.1zM284.9 383.94l-.26.1.72-.1-.46-.02z"/><path d="M283.8 384.77c-1.44.3.27-.45.85-.7-1.6.23-3.15.65-4.65 1.3.12.35 3.03-.64 3.8-.6zm123.25-166.83l.13.65c-.03-.26-.08-.46-.13-.65zm-382.3-12.5l.1.9c0-.46-.04-.7-.1-.9zm377.47 46.65l.5.52c-.17-.4-.33-.5-.5-.52zM51.75 68.12c.04-.18.1-.35.15-.52-.07.16-.12.33-.15.52zm111.3-56.82c.06.17.23.3.4.37.07-.01.13-.03.17-.03l-.58-.34zm230.53 144.33c.07-.04.13-.1.18-.2l-.75-1c.22.57.4.97.57 1.2zM245.18 6.97c.08-.06.3-.1.32-.18-.73-.16-2.1-.4-3.88-.53l-6.44-.17-.3.73 5.1-.07c1.7-.02 3.44.1 5.2.22z"/><path d="M313.24 66.55l-6.44-5.58c5.95 3.32 10.9 6.28 15.14 9.16 4.3 2.9 7.7 5.56 11.18 8.6 6.84 5.95 13 11.9 20.68 19.98l-1.04-.73c.9 1.35 2.34 1.8 5.87 5.83 1.75 2.02 4.02 4.96 6.74 9.48 2.68 4.53 5.87 10.63 8.87 19l-.13.06c.55 1.1.86.94 1.52 3.33-.57-1.98-1.24-3.92-1.87-5.9 1.97 3.12 4.04 5.72 6.04 10.24.25 1.03.1 1.48-.07 1.66 1.62 3.68 3.03 7.45 4.38 11.24l.16 3.8c.8 1.68 1.5 2 2.24 3.12.37.56.74 1.33 1.1 2.57.33 1.25.65 2.98.92 5.45.6-3.96 1.8 4.67 2.22 3.34-.07.53-.1 1.7-.2 2.64a240.87 240.87 0 0 1 1.88 10.96c.62 3.84 1 7.33 1.46 8.7l.26-3.77c.1-1.16.16-2.52.2-4.02.06-1.5.15-3.14.15-4.82.14-6.75-.23-14.4-.32-17.7 1.5 8.5.7 2.2.75.42l-.47-.48c-.86-5.12-.1-5.34-.53-7.93-.07.02-.13.12-.2.2l.2.3c-.1.28-.23.17-.38-.08-.16.1-.37-.08-.73-1.45l.17.23c-.38-1.02-.8-2.44-1.2-3.8l-1.04-3.43.68-.27c-1.25-1.62-2.97-7.9-5.1-14.3-2.1-6.4-4.6-12.96-5.96-15.23-1.84-5.1-6.34-10.06-9.86-15.66-3.03-4.33-3.7-5.5-3.85-6.22-.16-.73.12-.95-1.33-3.23-3.95-5.4.23 1.57-1.54-.44-1.45-2.25-2.94-4.5-4.5-6.68 3.2 3.4 1.82 1.24 1.47.4-2.3-2.62-5.12-6.12-7.8-8.95s-5.15-5.02-6.44-5.18l-6.08-6.36c-1.13-1.26-1.9-2-3.52-3.3.94 1.06 2.98 2.9 2.78 3.16-2.62-2.86-1.53-1-.4.07-2.46-1.6-8.16-6.6-13.7-10.67-5.5-4.1-10.63-7.57-11.53-7.18l.15-.25c-1.73.37-.53 2.43-4.22 1l-1.96-1.78-3.6-1.56c-2.03-1.68-.77-1.3-.7-1.4-5.7-2.8-12.78-8-18.5-12.72 1.37 2.5 2.93 4.9 4.53 7.35-1.25-1.04-2.64-2.4-4.14-3.76l-4.3-4.2c-2.73-2.7-4.83-5-5.68-5.04-.7-1.15-1.53-2.38-2.32-3.6-4.8-5.37-7.5-6.17-8.84-6.56-1.45-.3-2.03.15-4.46-1.3-1-.66-2.08-1.16-3.14-1.75-.53-.28-1.07-.58-1.6-.84l-1.66-.7 1.73.43c.57.17 1.14.38 1.7.56 1.13.4 2.28.73 3.4 1.2-1.62-.8-3.05-1.37-4.3-1.96-1.28-.54-2.44-.9-3.54-1.32-1.1-.44-2.2-.76-3.33-1.1-1.15-.32-2.37-.76-3.76-1.05 0 .01-.06.01-.07.03.4.1.63.17.67.24l-1-.07c-.46.26-1.62.4-3.26.43-1.62.14-3.78.05-6.17.1-6.83-.14-12.06 1.22-22.43.73l-2.47 1.4-3.83-.16-4-.12-.06-.97 6.84-.42c2.5-.16 5.27-.42 8.16-.7 5.76-.55 12-1.1 17.24-1.15l.18-.45c-6.25.02-12.98 1.03-16.83 1.22-1.9-.04-6.7-.7-3.33-1.6l-3.45 1.2-11.63.73c-3.18.15-5.72.44-8.3.65s-5.2.34-8.46.7c-3.27.3-7.22.63-12.44 1.37l1.88.15c-2.03.52-4.04 1.03-5.72 1.35-1.67.33-2.98.53-3.64.26-12.4 2.45-25.1 5.64-33.3 7.37l-1.32 1.68c-2.56.77-6.92.75-7.55 2.7-1.7.88-3.44 1.7-5.12 2.64-3.38 1.45-5.17 2.9-9.24 4.12h0c-.01 0-.02.01-.02.01l-.77.24c.02.03.05.05.08.06-7.66 3.35.52.83-8.25 4.66-3.07.8-2.24 2.95-6.4 5.02-1.63.3-3.2.73-4.83 1.1-1.92.95-3.38 1.8-4.65 2.65-1.26.87-2.3 1.8-3.4 2.8l-3.86 3.38c-1.52 1.33-3.3 3-5.7 4.95-2.53 1.62-4.42 2.88-5.55 3.1-1.1.25-1.38-.4-.3-2.26-1.53 2.47-1.8 3.07-2.33 3.77-.5.72-1.36 1.4-3.54 4.38-1.2.4-.8-.26-.08-1.84-4.97 4.35-2.4 3.33-5.65 7-.01 1.86.42 4.3-.5 5.55l1.45-1.2c-2.8 4.28-5.7 8.88-9.47 13.37l-.37-.5-3.07 5.4-.85-.06c-1.58 2.5-2.84 5.2-4.25 7.78l.77-.96-2.6 5.08c-1.07 2.2-2.3 4.57-3.33 6.22l-.3-.3c-1.57 2.3-2.66 4.68-3.76 7.04-1.08 2.36-2.04 4.75-2.82 7.25l-2.45 7.75c-.76 2.72-1.6 5.57-2.6 8.6l-.27-1.85c-2.2 3.9.87 1.53-1.03 6.38l-1.08-.05c.02 4.78-1.96 5.6-3.2 8.58l1.68-1.1-1.7 5.72c-1.9 6.3-2.53 3.6-3.08 2.47l.18 4.65-1.36.64c.75 3.5-.92 3.2-1 9.07-.52.4-.57-1.1-1.05.84.06 1.63.06 3.23.17 4.86l.37 4.86-.16-5.83 1.67.9c.37 3.05.12 5.04-.2 6.83l-.5 2.6a15.2 15.2 0 0 0-.07 2.9l-.38-2.98c.12 7.02-.74 7.33-1.16 11.3.3-1.24.82-3.1 1.04-.25.12 2.1-.6 1.13-.8 3.1 1.2.47 1.77 5.5 1.55 9.97-.17-.04-.34-.13-.46-.42.25 1.13.6 1.7.46 3.7l-1.4-1.08 1.54 3.73c-.15 2.58 1.2 6.18.28 5.94l-.4-1.42c.56 6.43 1.36 12.85 2.45 19.26l-.94.4c.86.82 1.27 3.45 1.66 5.77.4 2.32.85 4.3 1.64 3.78-.1 1.92 1.03 5.42 1.84 8.22.9 2.8 1.44 4.93.15 4.17 1.94 6.28 4.1 10.93 6.75 15.8 2.63 4.86 5.52 9.98 9.57 16.9.9 2.83 3.72 7.45 7.4 12.04 3.63 4.64 8.02 9.3 11.48 12.95 3.56 3.4 6.9 6.34 10.04 9.04l4.5 3.86L68 340.4c6.14 5.4 12.5 10.5 20.63 16.3 4.07 4.57 10.38 8.72 17.08 12.4 6.7 3.72 13.74 6.97 19.54 10.27l3.72.6c1.88 1.2 4.14 2.22 6.63 3.22 2.5.9 5.2 1.86 8.06 2.62 5.68 1.7 11.8 3.06 17.53 5.07 2.98.17 4.5.35 5.2.45-.53-.15-1.3-.5-1.44-1.14 3.27 1.12 10.17 1.7 9.5 2.8l-.88-.01c-.35.57 2.25.8 5.38 1.1s6.8.5 8.64 1.25l-1.93-1.53c2.13.35 4.26.58 6.4.87l-1.74.08c14.1-.1 24.16.32 34.17.42 5 .05 9.98-.08 15.33-.63 5.35-.56 11.08-1.54 17.48-3.4-3.2 2.05 5-1.7 5.63-.32 7.02.47 12.04-3.35 17.1-5.47-.02-.07.01-.18.28-.4a182.5 182.5 0 0 0 9.12-2.93c-4.68 3.84 5.9-3.93 1.55-.54 11.9-3.66 25.3-10.18 37.5-18.92 12.3-8.68 23.55-19.3 33.5-29.6l-1.22.58c1.26-1.32 2.52-2.72 3.84-4.24l2.05-2.5 1.86-2.5c2.4-3.3 4.45-6.4 6.26-8.6 3.66-4.4 4.96-11.17 5.85-13.08 2.04-5.7 5.93-9.8 4.72-7.54 2.63-5.83 3.57-12 7.92-19.6.7-.5 1.56-2.13 2.52-4.32.48-1.17 1-2.48 1.5-3.84.5-1.37.9-2.83 1.36-4.24 1.7-5.7 2.68-11.13 3.62-11.04l-.13-.14c2.1-5.54 2.84-11.24 3.3-16.97.46-5.74.6-11.55 1.4-17.7a3.58 3.58 0 0 0 .25.66c-1.63-8.44-3.68-16.62-5.9-24.7l-6 7.14c-1.5 7.02-3.2 13.92-5.22 20.54-.27 9.1-1.17 18-3.1 26.57-1 4.26-2.16 8.48-3.7 12.52-.34 1.03-.8 2-1.2 3.02l-.6 1.5-.7 1.63-2.9 6.56c-3.5 6.75-7.03 13.37-10.72 19.8-3.7 6.4-7.57 12.68-11.7 18.14-1.16 1.73-2.35 3.36-3.55 4.84-.64.74-1.1 1.37-1.9 2.25l-2.24 2.48c-3.02 3.27-6.1 6.47-9.26 9.54-6.34 6.13-13 11.82-20.08 16.85s-14.52 9.48-22.36 13.14c-7.87 3.7-16.15 6.88-24.54 9.37-2.27 1.17-4.58 2.26-6.92 3.32-10.4 1.32-22.04 3.27-34.15 4.15-12.08.88-24.67.8-35.9-1.08l-.58 1.16c-6.4-.52-5.88-1.3-7.43-1.68-14.78-1.7-29.6-4.53-43.4-9.2-3.45-1.17-6.83-2.45-10.1-3.88-3.3-1.4-6.58-3.04-9.8-4.76-6.46-3.43-12.73-7.33-18.76-11.52-6.03-4.18-11.8-8.7-17.24-13.4-2.7-2.38-5.35-4.8-7.85-7.3-2.86-2.84-5.65-5.35-8.24-7.83-10.44-9.87-19.5-20.2-26.05-31.25-1.06-2.27-3.42-6.6-5.44-10.87-1.92-4.36-3.54-8.8-3.74-10.78-6.96-15.27-10-33.92-10.97-51.22l.18.65c-.26-2.7-.48-5.42-.54-8.08.1-.34.24-.38.33-.13-.66-4.48-.5-10.36.2-16.45.7-6.1 1.98-12.4 3.2-17.86v.67c.82-4 1.53-8 2.57-11.94.5-1.97.9-3.95 1.48-5.9l1.68-5.83c.52-1.95 1.17-3.86 1.82-5.76l1.9-5.72 2.14-5.6 1.06-2.8 1.17-2.75c6.2-14.65 13.8-28.6 23.45-40.66 2.3-3.12 4.97-5.83 7.5-8.7 1.33-1.36 2.75-2.65 4.12-3.98l2.07-1.98 2.22-1.85c5.78-5.08 12.35-9.4 19.03-13.56 3.46-1.92 6.82-4 10.44-5.7l5.37-2.65 5.5-2.42 2.77-1.2 2.83-1.08 5.67-2.16 5.8-1.9c1.93-.64 3.87-1.28 5.85-1.8l11.3-2.73 5.8-1.36 5.92-1.26c1.98-.46 4-.83 6.02-1.2l6.1-1.15 9.34-1.43 9.5-1.1 6.4-.47 6.86-.44 6.93-.52c9.08-.72 17.66-1.22 25.17.05 1.3.52 6.18 1.07 11.42 3.55 1.36.54 2.65 1.4 4.05 2.18.7.4 1.33.97 2.02 1.45l1.04.75.98.9 2.17 1.95 3.06 2.87c2.1 1.82 4.23 3.67 6.42 5.3 4.36 3.37 8.83 6.37 13.05 8.98 4.23 2.65 8.2 4.95 11.7 6.93l13.34 7.46z"/><path d="M379.73 141.7l-.1-.25c-.46.2-.13.5.1.25zM284.98 30.1l.36.3-.92-1.63.56 1.34zm78.65 58.37c-2.85-3.5-3.1-3.56-2.82-2.95 1.06 1.24 2.04 2.27 2.82 2.95zm26.3 85.43c.3 2.16.47 1.3.6-.03l-.55-2.68-.22-1.03.16 3.74zm5-10.28l.56.6c-.4-1.3-.53-1.2-.56-.6z"/></g></svg>
                                <span class="text">2</span>
                            </span>

                            <span class="yellow">REGISTRA</span>
                            <span class="normal"> TU PRODUCTO</span> <br>
                            <span class="normal">¡GUARDA TODOS </span>
                            <span class="yellow">LOS EMPAQUES!</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="swiper-slide howtowin__slide">
                    <figure class="howtowin__img">
                        <img src="/Content/Assets/Paso3.png" alt="Paso 3" title="Paso 3">
                        <p class="text text--small yellow reference-img">*Imagen de referencia</p>
                        <figcaption>
                            <span class="howtowin__bullet">
                                <svg class="icon icon--circle" aria-hidden="true" role="presentation" viewBox="0 0 412.54 400.6"><path d="M400.25 193.27c1.08 26.76.28 52.34-10.43 75.43-7.23 15.57-19.46 43-31.03 55.86-17.23 19.16-36.43 35.32-61 46.18-21.85 9.65-45.22 15.16-70.84 16.2-32.6 1.3-72.25-4.04-99.43-16.73-19.72-9.2-40.42-24.34-55.35-39.25-7.24-7.23-29.73-25.6-42.05-51.35-12.55-26.24-14.87-59.9-15.3-70.8-1.93-47.8 19.23-107.2 51.56-139.86s89.54-52.5 140.8-54.57c22.73-.92 47.32-7.1 66.4 12 17.28 17.28 43.98 27.86 62.3 42.48 15.2 12.14 28.3 26.57 38.63 42.75 15.3 23.97 24.56 51.77 25.77 81.66z" class="icon__path01"/><g><path d="M166.38 391.33c.5.15.78.12 0 0h0zM51.43 69.5l.26-.32a6.81 6.81 0 0 1 .07-1.06l-.33 1.38zm54.33-38.95l.4-.12c-.1-.12-.1-.3-.4.12zM6.53 212.3c.02.57.1.88.18 1.1a7.63 7.63 0 0 1-.18-1.1zM284.9 383.94l-.26.1.72-.1-.46-.02z"/><path d="M283.8 384.77c-1.44.3.27-.45.85-.7-1.6.23-3.15.65-4.65 1.3.12.35 3.03-.64 3.8-.6zm123.25-166.83l.13.65c-.03-.26-.08-.46-.13-.65zm-382.3-12.5l.1.9c0-.46-.04-.7-.1-.9zm377.47 46.65l.5.52c-.17-.4-.33-.5-.5-.52zM51.75 68.12c.04-.18.1-.35.15-.52-.07.16-.12.33-.15.52zm111.3-56.82c.06.17.23.3.4.37.07-.01.13-.03.17-.03l-.58-.34zm230.53 144.33c.07-.04.13-.1.18-.2l-.75-1c.22.57.4.97.57 1.2zM245.18 6.97c.08-.06.3-.1.32-.18-.73-.16-2.1-.4-3.88-.53l-6.44-.17-.3.73 5.1-.07c1.7-.02 3.44.1 5.2.22z"/><path d="M313.24 66.55l-6.44-5.58c5.95 3.32 10.9 6.28 15.14 9.16 4.3 2.9 7.7 5.56 11.18 8.6 6.84 5.95 13 11.9 20.68 19.98l-1.04-.73c.9 1.35 2.34 1.8 5.87 5.83 1.75 2.02 4.02 4.96 6.74 9.48 2.68 4.53 5.87 10.63 8.87 19l-.13.06c.55 1.1.86.94 1.52 3.33-.57-1.98-1.24-3.92-1.87-5.9 1.97 3.12 4.04 5.72 6.04 10.24.25 1.03.1 1.48-.07 1.66 1.62 3.68 3.03 7.45 4.38 11.24l.16 3.8c.8 1.68 1.5 2 2.24 3.12.37.56.74 1.33 1.1 2.57.33 1.25.65 2.98.92 5.45.6-3.96 1.8 4.67 2.22 3.34-.07.53-.1 1.7-.2 2.64a240.87 240.87 0 0 1 1.88 10.96c.62 3.84 1 7.33 1.46 8.7l.26-3.77c.1-1.16.16-2.52.2-4.02.06-1.5.15-3.14.15-4.82.14-6.75-.23-14.4-.32-17.7 1.5 8.5.7 2.2.75.42l-.47-.48c-.86-5.12-.1-5.34-.53-7.93-.07.02-.13.12-.2.2l.2.3c-.1.28-.23.17-.38-.08-.16.1-.37-.08-.73-1.45l.17.23c-.38-1.02-.8-2.44-1.2-3.8l-1.04-3.43.68-.27c-1.25-1.62-2.97-7.9-5.1-14.3-2.1-6.4-4.6-12.96-5.96-15.23-1.84-5.1-6.34-10.06-9.86-15.66-3.03-4.33-3.7-5.5-3.85-6.22-.16-.73.12-.95-1.33-3.23-3.95-5.4.23 1.57-1.54-.44-1.45-2.25-2.94-4.5-4.5-6.68 3.2 3.4 1.82 1.24 1.47.4-2.3-2.62-5.12-6.12-7.8-8.95s-5.15-5.02-6.44-5.18l-6.08-6.36c-1.13-1.26-1.9-2-3.52-3.3.94 1.06 2.98 2.9 2.78 3.16-2.62-2.86-1.53-1-.4.07-2.46-1.6-8.16-6.6-13.7-10.67-5.5-4.1-10.63-7.57-11.53-7.18l.15-.25c-1.73.37-.53 2.43-4.22 1l-1.96-1.78-3.6-1.56c-2.03-1.68-.77-1.3-.7-1.4-5.7-2.8-12.78-8-18.5-12.72 1.37 2.5 2.93 4.9 4.53 7.35-1.25-1.04-2.64-2.4-4.14-3.76l-4.3-4.2c-2.73-2.7-4.83-5-5.68-5.04-.7-1.15-1.53-2.38-2.32-3.6-4.8-5.37-7.5-6.17-8.84-6.56-1.45-.3-2.03.15-4.46-1.3-1-.66-2.08-1.16-3.14-1.75-.53-.28-1.07-.58-1.6-.84l-1.66-.7 1.73.43c.57.17 1.14.38 1.7.56 1.13.4 2.28.73 3.4 1.2-1.62-.8-3.05-1.37-4.3-1.96-1.28-.54-2.44-.9-3.54-1.32-1.1-.44-2.2-.76-3.33-1.1-1.15-.32-2.37-.76-3.76-1.05 0 .01-.06.01-.07.03.4.1.63.17.67.24l-1-.07c-.46.26-1.62.4-3.26.43-1.62.14-3.78.05-6.17.1-6.83-.14-12.06 1.22-22.43.73l-2.47 1.4-3.83-.16-4-.12-.06-.97 6.84-.42c2.5-.16 5.27-.42 8.16-.7 5.76-.55 12-1.1 17.24-1.15l.18-.45c-6.25.02-12.98 1.03-16.83 1.22-1.9-.04-6.7-.7-3.33-1.6l-3.45 1.2-11.63.73c-3.18.15-5.72.44-8.3.65s-5.2.34-8.46.7c-3.27.3-7.22.63-12.44 1.37l1.88.15c-2.03.52-4.04 1.03-5.72 1.35-1.67.33-2.98.53-3.64.26-12.4 2.45-25.1 5.64-33.3 7.37l-1.32 1.68c-2.56.77-6.92.75-7.55 2.7-1.7.88-3.44 1.7-5.12 2.64-3.38 1.45-5.17 2.9-9.24 4.12h0c-.01 0-.02.01-.02.01l-.77.24c.02.03.05.05.08.06-7.66 3.35.52.83-8.25 4.66-3.07.8-2.24 2.95-6.4 5.02-1.63.3-3.2.73-4.83 1.1-1.92.95-3.38 1.8-4.65 2.65-1.26.87-2.3 1.8-3.4 2.8l-3.86 3.38c-1.52 1.33-3.3 3-5.7 4.95-2.53 1.62-4.42 2.88-5.55 3.1-1.1.25-1.38-.4-.3-2.26-1.53 2.47-1.8 3.07-2.33 3.77-.5.72-1.36 1.4-3.54 4.38-1.2.4-.8-.26-.08-1.84-4.97 4.35-2.4 3.33-5.65 7-.01 1.86.42 4.3-.5 5.55l1.45-1.2c-2.8 4.28-5.7 8.88-9.47 13.37l-.37-.5-3.07 5.4-.85-.06c-1.58 2.5-2.84 5.2-4.25 7.78l.77-.96-2.6 5.08c-1.07 2.2-2.3 4.57-3.33 6.22l-.3-.3c-1.57 2.3-2.66 4.68-3.76 7.04-1.08 2.36-2.04 4.75-2.82 7.25l-2.45 7.75c-.76 2.72-1.6 5.57-2.6 8.6l-.27-1.85c-2.2 3.9.87 1.53-1.03 6.38l-1.08-.05c.02 4.78-1.96 5.6-3.2 8.58l1.68-1.1-1.7 5.72c-1.9 6.3-2.53 3.6-3.08 2.47l.18 4.65-1.36.64c.75 3.5-.92 3.2-1 9.07-.52.4-.57-1.1-1.05.84.06 1.63.06 3.23.17 4.86l.37 4.86-.16-5.83 1.67.9c.37 3.05.12 5.04-.2 6.83l-.5 2.6a15.2 15.2 0 0 0-.07 2.9l-.38-2.98c.12 7.02-.74 7.33-1.16 11.3.3-1.24.82-3.1 1.04-.25.12 2.1-.6 1.13-.8 3.1 1.2.47 1.77 5.5 1.55 9.97-.17-.04-.34-.13-.46-.42.25 1.13.6 1.7.46 3.7l-1.4-1.08 1.54 3.73c-.15 2.58 1.2 6.18.28 5.94l-.4-1.42c.56 6.43 1.36 12.85 2.45 19.26l-.94.4c.86.82 1.27 3.45 1.66 5.77.4 2.32.85 4.3 1.64 3.78-.1 1.92 1.03 5.42 1.84 8.22.9 2.8 1.44 4.93.15 4.17 1.94 6.28 4.1 10.93 6.75 15.8 2.63 4.86 5.52 9.98 9.57 16.9.9 2.83 3.72 7.45 7.4 12.04 3.63 4.64 8.02 9.3 11.48 12.95 3.56 3.4 6.9 6.34 10.04 9.04l4.5 3.86L68 340.4c6.14 5.4 12.5 10.5 20.63 16.3 4.07 4.57 10.38 8.72 17.08 12.4 6.7 3.72 13.74 6.97 19.54 10.27l3.72.6c1.88 1.2 4.14 2.22 6.63 3.22 2.5.9 5.2 1.86 8.06 2.62 5.68 1.7 11.8 3.06 17.53 5.07 2.98.17 4.5.35 5.2.45-.53-.15-1.3-.5-1.44-1.14 3.27 1.12 10.17 1.7 9.5 2.8l-.88-.01c-.35.57 2.25.8 5.38 1.1s6.8.5 8.64 1.25l-1.93-1.53c2.13.35 4.26.58 6.4.87l-1.74.08c14.1-.1 24.16.32 34.17.42 5 .05 9.98-.08 15.33-.63 5.35-.56 11.08-1.54 17.48-3.4-3.2 2.05 5-1.7 5.63-.32 7.02.47 12.04-3.35 17.1-5.47-.02-.07.01-.18.28-.4a182.5 182.5 0 0 0 9.12-2.93c-4.68 3.84 5.9-3.93 1.55-.54 11.9-3.66 25.3-10.18 37.5-18.92 12.3-8.68 23.55-19.3 33.5-29.6l-1.22.58c1.26-1.32 2.52-2.72 3.84-4.24l2.05-2.5 1.86-2.5c2.4-3.3 4.45-6.4 6.26-8.6 3.66-4.4 4.96-11.17 5.85-13.08 2.04-5.7 5.93-9.8 4.72-7.54 2.63-5.83 3.57-12 7.92-19.6.7-.5 1.56-2.13 2.52-4.32.48-1.17 1-2.48 1.5-3.84.5-1.37.9-2.83 1.36-4.24 1.7-5.7 2.68-11.13 3.62-11.04l-.13-.14c2.1-5.54 2.84-11.24 3.3-16.97.46-5.74.6-11.55 1.4-17.7a3.58 3.58 0 0 0 .25.66c-1.63-8.44-3.68-16.62-5.9-24.7l-6 7.14c-1.5 7.02-3.2 13.92-5.22 20.54-.27 9.1-1.17 18-3.1 26.57-1 4.26-2.16 8.48-3.7 12.52-.34 1.03-.8 2-1.2 3.02l-.6 1.5-.7 1.63-2.9 6.56c-3.5 6.75-7.03 13.37-10.72 19.8-3.7 6.4-7.57 12.68-11.7 18.14-1.16 1.73-2.35 3.36-3.55 4.84-.64.74-1.1 1.37-1.9 2.25l-2.24 2.48c-3.02 3.27-6.1 6.47-9.26 9.54-6.34 6.13-13 11.82-20.08 16.85s-14.52 9.48-22.36 13.14c-7.87 3.7-16.15 6.88-24.54 9.37-2.27 1.17-4.58 2.26-6.92 3.32-10.4 1.32-22.04 3.27-34.15 4.15-12.08.88-24.67.8-35.9-1.08l-.58 1.16c-6.4-.52-5.88-1.3-7.43-1.68-14.78-1.7-29.6-4.53-43.4-9.2-3.45-1.17-6.83-2.45-10.1-3.88-3.3-1.4-6.58-3.04-9.8-4.76-6.46-3.43-12.73-7.33-18.76-11.52-6.03-4.18-11.8-8.7-17.24-13.4-2.7-2.38-5.35-4.8-7.85-7.3-2.86-2.84-5.65-5.35-8.24-7.83-10.44-9.87-19.5-20.2-26.05-31.25-1.06-2.27-3.42-6.6-5.44-10.87-1.92-4.36-3.54-8.8-3.74-10.78-6.96-15.27-10-33.92-10.97-51.22l.18.65c-.26-2.7-.48-5.42-.54-8.08.1-.34.24-.38.33-.13-.66-4.48-.5-10.36.2-16.45.7-6.1 1.98-12.4 3.2-17.86v.67c.82-4 1.53-8 2.57-11.94.5-1.97.9-3.95 1.48-5.9l1.68-5.83c.52-1.95 1.17-3.86 1.82-5.76l1.9-5.72 2.14-5.6 1.06-2.8 1.17-2.75c6.2-14.65 13.8-28.6 23.45-40.66 2.3-3.12 4.97-5.83 7.5-8.7 1.33-1.36 2.75-2.65 4.12-3.98l2.07-1.98 2.22-1.85c5.78-5.08 12.35-9.4 19.03-13.56 3.46-1.92 6.82-4 10.44-5.7l5.37-2.65 5.5-2.42 2.77-1.2 2.83-1.08 5.67-2.16 5.8-1.9c1.93-.64 3.87-1.28 5.85-1.8l11.3-2.73 5.8-1.36 5.92-1.26c1.98-.46 4-.83 6.02-1.2l6.1-1.15 9.34-1.43 9.5-1.1 6.4-.47 6.86-.44 6.93-.52c9.08-.72 17.66-1.22 25.17.05 1.3.52 6.18 1.07 11.42 3.55 1.36.54 2.65 1.4 4.05 2.18.7.4 1.33.97 2.02 1.45l1.04.75.98.9 2.17 1.95 3.06 2.87c2.1 1.82 4.23 3.67 6.42 5.3 4.36 3.37 8.83 6.37 13.05 8.98 4.23 2.65 8.2 4.95 11.7 6.93l13.34 7.46z"/><path d="M379.73 141.7l-.1-.25c-.46.2-.13.5.1.25zM284.98 30.1l.36.3-.92-1.63.56 1.34zm78.65 58.37c-2.85-3.5-3.1-3.56-2.82-2.95 1.06 1.24 2.04 2.27 2.82 2.95zm26.3 85.43c.3 2.16.47 1.3.6-.03l-.55-2.68-.22-1.03.16 3.74zm5-10.28l.56.6c-.4-1.3-.53-1.2-.56-.6z"/></g></svg>
                                <span class="text">3</span>
                            </span>

                            <span class="normal">SÉ UNO DE LOS </span>
                            <span class="yellow">1,000 USUARIOS</span> <br>
                            <span class="normal">QUE MÁS EMPAQUES REGISTRE</span>
                            <span class="yellow">¡Y GANA!</span>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <p class="text text--small valid-promo">Promoción válida en la República de Colombia del 15 de julio al 15 de septiembre de 2020.</p>

        <div class="btn-container">
            <a href="/" class="btn btn--default">
                <svg class="icon icon--btn" viewBox="0 0 458.6 151.6"><path d="M436.03 77.43c4.65-9.63-1.7-23.27-21.37-32.4-.87-.5-1.76-.98-2.7-1.46-4.35-2.44-9.17-4.22-11-4.88-3.66-1.45-8.53-1.97-13.3-2.9-3.8-.7-4.76-1-5.22-1.2-.46-.25-.44-.48-2.36-.86-4.83-.76.93.63-1.02.47L373.3 33c3.4.22 1.58-.2.97-.45-5.04-.33-13.05-1.47-14.53-.52-6.68-.56-6.68-.94-9.5-1.08.94.2 2.82.42 2.84.6-2.65-.5-1.28.07-.2.2-1.02.07-2.85-.04-4.98-.27a43.04 43.04 0 0 1-2.93-.42c-.28-.37-.64-.72-1.02-1-.2-.14-.42-.3-.6-.38l-.23-.1-.47-.2c-2.23-.77-3.16-.8-4.47-1.04-1.16-.15-2.25-.32-3.18-.38-1.87-.13-3.17-.12-3.4.12l.01-.18c-1 .73.53 1.5-2.36 1.85l-1.9-.38-2.9.27c-1.93-.27-.98-.46-.98-.55-4.7.27-11.26-.2-16.95-.35l6 2.1c-4.8-.53-13.45-1.54-14.4-.88l-2.88-.7c-9.62-1.35-6.72.55-10.56.14l-4.83-.76 4.8.03a184.39 184.39 0 0 1-10.57-1.14l-.04.02c.26.03.44.07.47.1l-.67.02c-.58.38-3.1.63-6.48.6-4.8-.1-8.57.45-16.26-.34l-1.9.77-5.77-.45v-.6l23.55-.25.13-.28c-4.3 0-9.2.27-12.06.2-1.4-.12-4.94-.75-2.36-1.17l-2.66.6c-14.38.1-14.47.13-29.5-.48l1.3.3c-2.98.2-5.94.4-6.78-.1-9.02-.03-18.36-.32-24.25-1l-1.27.74c-1.9 0-4.8-1.05-5.7-.01l-4.1.43c-2.56.03-4.52.5-7.43.35h0-.02c-.18-.01-.37-.02-.57-.04 0 .02.02.04.04.06-5.9.2.1.63-6.66.8-2.2-.32-2.3 1.12-5.6 1.26l-3.38-.73c-5.98-.04-6.9 1.1-15.47 1.9-4.14.01-6.2-.7-3.55-1.73-3.64 1.27-1.65.78-6.55 1.64-.8-.33-.27-.45.8-.9-4.42-.1-2.68.57-5.98.8-.9.8-1.93 2.06-3 2.17l1.3.15c-3.47.62-7.3 1.04-11.38.83l.14-.38-4.32.34-.3-.47-6.17.26.85.12c-1.45.1-6.2.26-8.93-.02l.1-.26a57.22 57.22 0 0 0-5.56-.42c-1.95-.03-3.9-.01-5.88.18-3.95.34-8.02 1.03-12.75 1.97l1.15-.77c-3.34.12-.75.94-4.62 1.52l-.34-.6c-3.16 1.65-4.38.92-6.8 1.34l1.32.48c-1.44.4-2.9.78-4.32 1.26-4.74 1.5-3.26.12-2.74-.62-.98.66-1.96 1.26-2.9 1.96l-.93-.42c-1.9 1.87-2.38.9-6.07 3.47-.46-.07.44-.77-.95-.13-1.95 1.57-3.83 3.2-5.6 5 1.1-1.04 2.25-1.98 3.4-2.94l.15 1.22c-3.3 3.23-5.13 3.54-7.44 6 .48-.62 1-1.2 1.5-1.77l-3.93 3.63c-.9.75-1.6 1.28-2.73 2.45.8-.64 2-1.58.65.25-1.02 1.33-.87.47-1.94 1.7.33.73-1.66 4.26-3.3 7.82-.08-.08-.15-.2-.1-.45-.25.98-.2 1.54-.85 3.2-.2-.42-.35-.8-.52-1.24-.1 1.18-.02 2.43.04 3.6-.6 2.34.33 5.8-.2 5.53-.13-.44-.23-.9-.3-1.35.14 3.04.98 6.12 2.24 8.73l1.92 3.57c.72 1.15 1.56 2.23 2.35 3.34l-.38.6c.77.44 2.34 2 3.67 3.48 1.37 1.42 2.75 2.36 2.87 1.78.5.56 1.34 1.37 2.36 2.03l3.17 1.87c2 1.16 3.56 1.78 2.5 2.04 1.15.55 2.24 1.05 3.3 1.5l3.07 1c2 .67 3.88 1.1 5.82 1.5 1.94.46 3.94.9 6.14 1.3l7.4 1.58c3.85 1.9 14.88 2.72 22.04 3.37 14.04.53 23.03.32 37.22.2 8.52 1.66 21.27-.42 30.42.36l2.5-.62c6.1.87 15.36-.4 23.9.35 2.08-.3 3.18-.4 3.66-.44-.4-.02-.98-.12-1.17-.5 2.44.23 7.36-.2 7.02.55l-.62.1c-.34.77 7.38-.52 10.1.08l-1.5-.78 4.6.04-1.23.18c19.97-2.3 29.07.05 47.8-2.1-2.47.96 3.7-.56 3.96.4 4.76 1.1 8.76-.48 12.64-.9 0-.05.04-.1.26-.2l6.8-.04c-4.02 1.33 4.86-1.13 1.16 0 17.7.52 40.77-.92 61.15-.37l-.9-.32c5.15.13 11.6-.2 15.44.52 3.78.66 8.64-.45 10.2-.44 4.4-.34 8.43.62 6.53.6 2.37-.04 4.66-.4 7.18-.76 2.5-.3 5.24-.66 8.54-.7 1.17.47 5.64-.3 9.8-1.26 4.17-.9 8-2.18 8.25-1.62l.05-.1c8.57-1.36 15.82-5.62 23.9-10.7 0 0-.1.18-.3.43 4.57-4.84 8-10.64 9.6-16.65-.3.14-.58.25-.88.38.13-.17.27-.37.37-.6zM343.8 30.78c.02-.04.01-.01 0 .03-.05-.01-.1-.02-.05-.03h.05z" /><path d="M187.28 112.22c.38.02.56-.03 0 0h0zm-62.2-82.16l.28-.02.55-.43-.83.45zm46.33-3.14l.3.02c-.04-.1.01-.2-.3-.02zm-148.47 38l.3-.93c-.2.46-.27.73-.3.93zm249.6 44.4l-.2.02.5.08-.3-.1z" /><path d="M272.32 109.34c-1.14-.18-2.27-.17-3.42-.05.01.2 1.56.17 2.35.25-.18-.08.7-.17 1.07-.2z" /><path d="M271.25 109.54c.04.02.14.04.34.06a3.75 3.75 0 0 0-.34-.06zm132.07-4.82l-.18.43c.2-.2.23-.34.18-.43zM214.82 26.2c.02.12.12.2.23.28h.12l-.35-.28zm59.02 1.46c.05-.04.2-.08.2-.13-1-.13-3.67-.16-7.07-.15l-.2.46 7.08-.18zm32.3 1.04h.36l-1.33-.46zm68.13 3.87l2.97.18c-3.27-.42-3.43-.35-2.97-.18z" /></svg>
                <span class="btn__text">REGISTRAR EMPAQUES</span>
            </a>
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/howtowin")
}