﻿@{
    ViewBag.Title = "Perfil";
}
@section Tags
{
    <title>Arranca a Ganar con Kellogg’s® | Perfil</title>
    <meta name="title" content="Arranca a Ganar con Kellogg’s® | Perfil">
    <meta name="description" content="Hola, ¿Qué hay? Checa aquí los empaques de cereales Kellogg’s® que llevas registrados y espera por las rifas quincenales para ganar.">
    <meta name="keywords" content="Kellogg,Kellogg's, Kellogg's®, cereales, promoción, premios, productos, empaques, cajas, rifa, rifa quincenal, carro, Renault, Kwid Iconic, moto, AKT, pesos, tarjeta, dinero, Bancolombia, promo cereal.">
    <meta name="url" content="@(HttpContext.Current.Request.Url.ToString().Contains("stage") ? HttpContext.Current.Request.Url.ToString() : HttpContext.Current.Request.Url.ToString().Replace("http:", "https:"))">
    <!-- Metatags -->
    <!-- Facebook -->
    <meta property="og:url" content="@(HttpContext.Current.Request.Url.ToString().Contains("stage")?HttpContext.Current.Request.Url.ToString():HttpContext.Current.Request.Url.ToString().Replace("http:", "https:"))" />
    <meta property="og:title" content="Arranca a Ganar con Kellogg’s® | Perfil" />
    <meta property="og:image" content="https://www.promokelloggs.com/Content/Assets/share.png" />
    <meta property="og:description" content="Hola, ¿Qué hay? Checa aquí los empaques de cereales Kellogg’s® que llevas registrados y espera por las rifas quincenales para ganar.">
    <!-- Facebook -->
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="https://www.promokelloggs.com" />
    <meta name="twitter:title" content="Arranca a Ganar con Kellogg’s® | Perfil" />
    <meta name="twitter:description" content="Hola, ¿Qué hay? Checa aquí los empaques de cereales Kellogg’s® que llevas registrados y espera por las rifas quincenales para ganar." />
    <link rel="canonical" href="@(HttpContext.Current.Request.Url.ToString().Contains("stage")?HttpContext.Current.Request.Url.ToString():HttpContext.Current.Request.Url.ToString().Replace("http:", "https:"))" />
    <!-- Twitter -->
}
<main class="body-content bg-Perfil d-flex flex-column justify-content-start align-content-center align-items-center" role="main">
    <a class="skip-to-content-link" href="#MyProfile">
        Ir al contenido principal
    </a>
    <div id="MyProfile" class="contenido-perfil d-flex flex-column h-100 w-100 justify-content-start align-items-center">
        <h1 class="d-none">Arranca a Ganar con Kellogg’s® | Perfil</h1>
        <div class="d-flex flex-column h-100 w-100 justify-content-center align-items-center">
            <div class="d-flex flex-column h-100 w-100 justify-content-center align-items-center">
                <div class="titlePerfil">
                    <span class="text-barlow-black text-red">¡HOLA,</span>
                </div>
                <div class="titlePerfil titlePerfil2">
                    <span class="text-barlow-black text-red">@ViewBag.Usuario.Nombre!</span>
                </div>
                <div class="folioPerfil @(ViewBag.Usuario.Folio == 0?"d-none":"")">
                    <span class="text-barlow-black text-red">TU NÚMERO DE REGISTRO ES:</span> <span class="text-barlow-boldItalic text-red">@ViewBag.Usuario.Folio</span><br />
                    <span class="text-barlow-black text-red">¡NO LO OLVIDES!</span>
                </div>
            </div>
            @if (!ViewBag.LanzarModal)
            {
                <div class="subTitlePerfil">
                    <span class="text-barlow-boldItalic text-red">@(ViewBag.Usuario.Folio == 0?"":"Y") HASTA AHORA HAS REGISTRADO</span>
                </div>
            }
            <div class="d-flex flex-column h-100 w-100 justify-content-center align-items-center div-contenido">
                <div class="empaques">
                    <div class="empaquesItem flex flex--center">
                        <figure class="regis-codes__img">
                            <img class="" src="/Content/Assets/Perfil/Empaques.png" alt="Pringgles® - Empaques" title="Pringgles® - Empaques" />
                        </figure>
                        <div class="flex flex--center regis-codes__qty">
                            <span class="regis-codes__qty-text">@ViewBag.Empaques</span>
                        </div>
                    </div>
                </div>
            </div>
            @if (ViewBag.LanzarModal && ViewBag.IsGanador)
            {
                <div class="titlePremio">
                    <span class="text-barlow-boldItalic text-red">¡GRACIAS A ESTOS REGISTROS,</span><br />
                    <span class="text-barlow-black text-red titlePremio2">TE GANASTE ESTE SÚPER PREMIO!</span>
                </div>
                foreach (var premio in ViewBag.Premios)
                {
                    <div class="premioPerfil">
                        <figure class="figurePremio">
                            <img class="d-sm-block d-none" src="/Content/Assets/Perfil/@(premio.Premio).png" alt="@(premio.DescripcionPremio)" title="@(premio.DescripcionPremio)" />
                            <img class="d-block d-sm-none" src="/Content/Assets/Perfil/@(premio.Premio)Movil.png" alt="@(premio.DescripcionPremio)" title="@(premio.DescripcionPremio)" />
                        </figure>
                        @*if (!string.IsNullOrEmpty(premio.Codigo))
                    {
                        <div class="titleCodigo">
                            <span class="text-newgrotesk-6 text-red">CÓDIGO:</span><span class="text-newgrotesk-4 text-red"> @premio.Codigo</span>
                        </div>
                        <div class="containerComoCanjear">
                            <img src="/Content/Assets/Home/IngresaEmpaques-IconoAyuda.png" alt="Pregunta" title="Pregunta" class="imgPregunta" />
                            <a href="/ComoCanjear?premio=@premio.Premio" class="link" target="_blank" rel="noopener noreferrer" title="¿CÓMO CANJEAR MI PREMIO?"><span class="text-red">¿CÓMO CANJEO MI PREMIO?</span></a>
                        </div>
                    }*@
                    </div>
                }
            }
            @if (!ViewBag.LanzarModal)
            {
                <div class="containerButtonRegistraMas">
                    <button id="RegitrarMasButton" onclick="location.href = '/Home#ingresaEmpaques';" class="customBtn" type="button"><span class="span-perfilButton">CONTINÚA REGISTRANDO</span></button>
                </div>
            }
            <div class="div-cerrar-sesion d-flex flex-row justify-content-center align-items-center w-100">
                <a class="link" href="javascript:document.getElementById('logoutForm').submit()">CERRAR SESIÓN</a>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                    }
                }
            </div>
        </div>
    </div>
</main>
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/home")
}