﻿<div class="container-fluid registropage d-none" style="margin-left:0 !important">
    <div class="row justify-content-center" style="padding-left: 0 !important">
        <div class="col-md-12 col-sm-12" style="padding-left: 0 !important; padding-right: 0 !important ">
            <div class="header p-12 h-header row" style="margin-left: 0 !important">
                <div class="form-inline">
                    <img src="../../Content/Assets/Home/logo_pringles.svg" class="header-left-img float-start" alt="Responsive Image">
                    <img src="../../Content/Assets/Home/logo_cine.png" class="header-center-img " alt="Responsive Image">
                    <img src="../../Content/Assets/Home/perfil.svg" class="header-rigth-img  float-end" alt="Responsive Image">
                </div>
            </div>
            <div class="bg-wp p-12 h-panel scroll">
                <div id="reg-container" class="twoColumnsRegister"></div>
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                {
                    @Html.AntiForgeryToken()
                }
            </div>
        </div>
    </div>
</div>