﻿@{
    ViewBag.Title = "Teaser";
    Layout = "~/Views/Shared/_LayoutTeaser.cshtml";
}
<main class="body-content bg-Teaser" role="main">
    <a class="skip-to-content-link" href="#Teaser">
        Ir al contenido principal
    </a>
    <section class="main" aria-labelledby="region1" id="Teaser">
        <h1 class="d-none">Arranca a Ganar con Kellogg’s®</h1>
        <div class="containerPlecaTeaser">
            <div class="plecaTeaser">
                <img class="plecaTeaser_img d-none d-sm-block" src="/Content/Assets/Teaser/Pleca.png" alt="Kellogg's® - Pleca" title="Kellogg's® - Pleca">
                <img class="plecaTeaser_img d-block d-sm-none" src="/Content/Assets/Teaser/Pleca-Movil.png" alt="Kellogg's® - Pleca" title="Kellogg's® - Pleca">
            </div>
            <div class="rayosTeaser">
                <img class="rayosTeaser_img d-none d-sm-block" src="/Content/Assets/Teaser/Bg-RayosDer.png" alt="Kellogg's® - Rayos" title="Kellogg's® - Rayos">
            </div>
        </div>
        <div class="containerDisenoTeaser d-flex flex-column h-100 w-100 justify-content-center align-items-center">
            <div class="d-flex flex-column h-100 w-100 justify-content-center align-items-center">
                <div class="logoArrancaAGagar">
                    <img class="logoArrancaAGagar_img d-none d-sm-block" src="/Content/Assets/Teaser/Kelloggs.png" alt="Kellogg's® - Arranca A Ganar" title="Kellogg's® - Arranca A Ganar" />
                    <img class="logoArrancaAGagar_img d-block d-sm-none" src="/Content/Assets/Teaser/Kelloggs-Movil.png" alt="Kellogg's® - Arranca A Ganar" title="Kellogg's® - Arranca A Ganar" />
                </div>
                <div class="titleTeaser">
                    <span class="text-barlow-black text-red">¡ALGO MUY CHÉVERE</span>
                </div>
                <div class="titleTeaser titleTeaser2">
                    <span class="text-barlow-boldItalic text-red">ESTÁ A PUNTO DE ARRANCAR!</span>
                </div>
                <div class="titleTeaser titleTeaser3 d-none d-sm-block">
                    <span class="text-barlow-boldItalic text-red">Ve calentando motores y guardando tus empaques Kellogg’s®</span>
                </div>
                <div class="titleTeaser titleTeaser3 d-block d-sm-none">
                    <span class="text-barlow-boldItalic text-red">Ve calentando motores</span></br>
                    <span class="text-barlow-boldItalic text-red titleTeaser31">y guardando tus empaques Kellogg’s®</span>
                </div>
                <div class="titleTeaser titleTeaser4">
                    <span class="text-barlow-black text-red">PORQUE YA SOLO FALTAN</span>
                </div>
            </div>
            <div class="containerTeaserDias d-flex flex-column h-100 w-100 justify-content-center align-items-center">
                <div class="titleTeaserDias">
                    <span class="text-barlow-black text-red">@ViewBag.DiasFaltantes</span>
                </div>
                <div class="textDiasDias">
                    <span class="text-barlow-black text-red">DÍAS</span>
                </div>
            </div>
        </div>
        <div class="containerTonyTeaser">
            <div class="tonyTeaser">
                <img class="tonyTeaser_img d-none d-sm-block" src="/Content/Assets/Teaser/Tony.png" alt="Kellogg's® - Tony" title="Kellogg's® - Tony" />
                <img class="tonyTeaser_img d-block d-sm-none" src="/Content/Assets/Teaser/Tony-Movil.png" alt="Kellogg's® - Tony" title="Kellogg's® - Tony" />
            </div>
            <div class="melvinTeaser">
                <img class="melvinTeaser_img d-none d-sm-block" src="/Content/Assets/Teaser/Melvin.png" alt="Kellogg's® - Melvin" title="Kellogg's® - Melvin" />
                <img class="melvinTeaser_img d-block d-sm-none" src="/Content/Assets/Teaser/Melvin-Movil.png" alt="Kellogg's® - Melvin" title="Kellogg's® - Melvin" />
            </div>
        </div>
    </section>
</main>
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")   
}