﻿
@{
    ViewBag.Title = "Tyco";
}


@section Tags
{
    <title>@ViewBag.Title - Promoción Pringles® Snackea y Gana</title>

    <meta name="title" content="@ViewBag.Title - Promoción Pringles® Snackea y Gana">
    <meta name="description" content="Compra productos Pringles® y participa para ganar increíbles premios. Promoción válida en la República de Colombia. ">
    <meta name="keywords" content="Kellogg, Pringles, promoción, premios, snacks, productos, empaques, latas, códigos, registro, diversión, gamer, jugador.">

    <!-- Metatags -->
    <!-- Facebook -->
    <meta property="og:title" content="Promoción Pringles® Snackea y Gana" />
    <meta property="og:image" content="https://www.pringlessnackeaygana.com/Content/img/social/share/share.png" />
    <!-- Facebook -->
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="https://www.pringlessnackeaygana.com" />
    <meta name="twitter:title" content="Promoción Pringles® Snackea y Gana" />
    <meta name="twitter:description" content="Compra productos Pringles® y participa para ganar increíbles premios. Promoción válida en la República de Colombia. " />
    <meta property="og:image" content="https://www.pringlessnackeaygana.com/Content/img/social/share/share.png" />
    <link rel="canonical" href="@HttpContext.Current.Request.Url" />
    <!-- Twitter -->
}
<h2>Tyco</h2>

