﻿@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/_LayoutError404.cshtml";
}
<div class="containerPapitaError">
    <div class="papitaError">
        <img class="papitaError_img" src="/Content/Assets/Home/Papita1.png" alt="Pringles® - Error" title="Pringles® - Error">
    </div>
</div>
<section class="errores-section d-flex flex-row justify-content-center align-content-center align-items-star">
    <div class="errores-left flex-column d-flex justify-content-center align-content-center align-items-center">
        <div class="containerTitleErrores flex-row d-flex justify-content-center align-content-center align-items-center">
            <div class="containerTitleErrores-left">
                <div class="text404">
                    <span class="text-grotesk-six">404</span>
                </div>
                <div class="titleErrores">
                    <span class="text-grotesk-four">!UY¡</span><br>
                    <span class="text-grotesk-four">CREO QUE ANDAS</span><br>
                    <span class="text-grotesk-six titleErrores2">UN POCO PERDIDO</span>
                </div>
                <div class="subtitleErrores">
                    <span class="text-grotesk-four">MEJOR </span><a href="Home" class=""> REGRESA AL INICIO</a>
                </div>
            </div>
            <div class="containerTitleErrores-right">
            </div>
        </div>
    </div>
    <div class="errores-right d-flex justify-content-center align-content-center align-items-center">
        <div class="masterChiefErrores d-flex align-content-center align-items-end">
            <img class="masterChiefErrores_img" src="/Content/Assets/Home/MasterChief.png" alt="Pringles® -MasterChief" title="Pringles® -MasterChief">
        </div>
    </div>
</section>
<div class="papitaErrorAbajo d-block d-sm-none">
    <img class="papitaErrorAbajo_img" src="/Content/Assets/Home/Papita2.png" alt="Pringles® - Error" title="Pringles® - Error">
</div>