﻿<!doctype html>
<html lang="es" ng-app="pringlesApp">

<head>
    <meta charset="utf-8">
    <title>Cine Gratis con Pringles®</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/mainAdmin.css" rel="stylesheet" />
    <link href="~/Content/css/ui-grid.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/angular-datepicker.min.css">
    <link rel="icon" type="image/x-icon" href="~/Content/favicon.png">
    <base href="/">
</head>

<body ng-controller="main as mn">
    <section class="sn-spinner">
        <div class="sn-spinner_ball">
            <div class="sn-spinner_dot"></div>
        </div>
    </section>
    <section class="admin-alert admin-alert-general">
        <section class="admin-alert_container">
            <figure class="admin-alert_act" id="admin-alert_act">
            </figure>
            <section class="admin-alert_copy">
                <!-- Sólo cambiar el copy dependendiendo de la acción -->
                <h1 class="admin-h1" id="admin-alert-msg"></h1>
            </section>
            <section class="admin-alert_copy">
                <a href="#" class="admin-butt admin-butt--line" ng-click="mn.closeAlert()">ACEPTAR</a>
            </section>
        </section>
    </section>
    <main class="admin-global">

        <nav class="admin-nav">
            @*ng-if="isLogged"*@
            <section class="admin-nav_prof">
                <h2 class="admin-h2">ADMINISTRADOR <span class="admin-p">Kellogg's®</span></h2>
            </section>
            <section class="admin-nav_tab">
                
                <a class="admin-nav_opt" href="/AZbKCunahKX" ng-class="@ViewBag.Page == '2' ? 'active' : ''">
                    <span class="admin-p">Premios</span>
                </a>
                <a class="admin-nav_opt" href="/jhWuGpuMjBRT" ng-class="@ViewBag.Page  == '7' ? 'active' : ''">
                    <span class="admin-p">Reporte Usuarios</span>
                </a>
                <a class="admin-nav_opt" href="/jhWuGBRTODMgf" ng-class="@ViewBag.Page  == '8' ? 'active' : ''">
                    <span class="admin-p">Reporte Latas</span>
                </a>
                <a class="admin-nav_opt" href="/jhWuGpyu" ng-class="@ViewBag.Page  == '9' ? 'active' : ''">
                    <span class="admin-p">Reporte Concentrado</span>
                </a>
            </section>

            <section class="admin-nav_logout">
                <a class="admin-nav_opt" href="#" ng-click="mn.logout()">
                    <span class="admin-p">CERRAR SESIÓN</span>
                </a>
            </section>

        </nav>

        <section class="admin-dash">
            @RenderBody()
        </section>


    </main>
    <!--JS core-->
    <script src="~/Content/js/dependencies/jquery-2.0.1.js"></script>
    <script src="~/Content/js/dependencies/jquery.signalR-2.0.1.js"></script>
    <script src="~/Content/js/dependencies/angular.js"></script>
    <script src="~/Content/js/dependencies/angular-ui-router.min.js"></script>
    <script src="~/Content/js/dependencies/angular-sanitize.min.js"></script>
    <script src="~/Content/js/dependencies/angular-cookies.min.js"></script>
    <script src="~/Content/js/dependencies/ng-google-chart.js"></script>
    <script src="~/Content/js/dependencies/moment.js"></script>
    <script src="~/Content/js/dependencies/sugar.min.js"></script>
    <script src="~/Content/js/dependencies/angular-local-storage.js"></script>
    <script src="~/Content/js/dependencies/csv.js"></script>
    <script src="~/Content/js/dependencies/pdfmake.js"></script>
    <script src="~/Content/js/dependencies/vfs_fonts.js"></script>
    <script src="~/Content/js/dependencies/ui-grid.min.js"></script>
    <script src="~/Content/js/dependencies/ng-file-upload.min.js"></script>
    <script src="~/Content/js/dependencies/ng-file-upload-shim.min.js"></script>
    <script src="~/Content/js/dependencies/xlsx.full.min.js"></script>
    <script src="~/Content/js/dependencies/angular-datepicker.min.js"></script>

    <!--Angular-->
    <script src="~/Content/js/angular_app/app.js"></script>
    <script src="~/Content/js/angular_app/controllers/main.controller.js"></script>
    <script src="~/Content/js/angular_app/services/maincloud.service.js"></script>

    @RenderSection("masterjs", required: false)
</body>

</html>
