﻿<!doctype html>
<html lang="es" ng-app="promoApp" ng-cloak>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.TitleCine</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/mainPromo.css?v=caid1324s5" rel="stylesheet" />
    <link href="~/Content/css/datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/css/select.min.css?v=caid132s45" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/Content/favicon.png">

    <meta name="title" content="@ViewBag.TitleCine">
    <meta name="description" content="¡La función está por comenzar! Las crispetas están haciendo pop y tus latas Pringles® bien listas para llevarte GRATIS a ver una peli a Cine Colombia, ¿qué esperas?, participa ya.">
    <meta name="keywords" content="Pringles, Pringles®, cine, entradas, boletos, películas, funciones, latas, ganar, cine gratis, Cine Colombia, latas Pringles, promo, promoción Pringles.">

    <meta property="og:url" content="@(HttpContext.Current.Request.Url.ToString().Contains("stage")?HttpContext.Current.Request.Url.ToString():HttpContext.Current.Request.Url.ToString().Replace("http:", "https:"))" />
    <meta property="og:title" content="@ViewBag.TitleCine" />
    <meta property="og:image" content="https://www.pringlesdepelicula.com/Content/Assets/share.png" />
    <meta property="og:description" content="¡La función está por comenzar! Las crispetas están haciendo pop y tus latas Pringles® bien listas para llevarte GRATIS a ver una peli a Cine Colombia, ¿qué esperas?, participa ya." />
    <!-- Facebook -->
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="https://www.pringlesdepelicula.com/" />
    <meta name="twitter:title" content="@ViewBag.TitleCine" />
    <meta name="twitter:description" content="¡La función está por comenzar! Las crispetas están haciendo pop y tus latas Pringles® bien listas para llevarte GRATIS a ver una peli a Cine Colombia, ¿qué esperas?, participa ya." />
    <link rel="canonical" href="@(HttpContext.Current.Request.Url.ToString().Contains("stage")?HttpContext.Current.Request.Url.ToString():HttpContext.Current.Request.Url.ToString().Replace("http:", "https:"))" />


    <base href="/">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-202623337-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-202623337-1');
    </script>


    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TBRJ278');</script>
    <!-- End Google Tag Manager -->
    <!--No bounce Event...-->
    <script>
        setTimeout("gtag('event','NoBounce', {'event_category': 'NoBounce','event_label':'Over 30 sec'})", 30000);
    </script>

</head>

<body ng-controller="main as mn" class="yellow-bg-pringles">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TBRJ278"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div ng-class="{'loader-div': loading}" id="loaderFull"></div>
    <main class="">
        <section class="">
            @RenderBody()
        </section>
    </main>
    <footer class="text-center text-white yellow-bg-pringles" id="my-footer-content-desk">
        <div style="position: relative; top: 10px; width: 99%;">
            <div class="row yellow-pringles" style="margin-bottom: 1em;">
                <div class="col-4"></div>
                <div class="col-4 d-flex justify-content-center">
                    <div class="footer-icon" ng-click="irARedes(1)">
                        <img src="../../Content/Assets/Footer/instagram.png" class="footer-img-insta">
                    </div>
                    <div class="footer-icon" style="margin-left: 1em; margin-right: 1em;" ng-click="irARedes(2)">
                        <img src="../../Content/Assets/Footer/facebook.png" class="footer-img-fb">
                    </div>
                    <div class="footer-icon" ng-click="irARedes(3)">
                        <img src="../../Content/Assets/Footer/twitter.png" class="footer-img-tw">
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row footer-fix-desk ">
                <div class="col-12 red-pringles ">
                    <p class="text-center footer-fonts-desk" style="margin-bottom: 0px">COME BIEN</p>
                    <p class="text-center footer-fonts-desk">Todos los derechos reservados Kellogg's 2022</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-5 red-pringles">
                    <p class="text-left-link-desk footer-fonts-link-desk ">
                        <a href="/TerminosYCondiciones" class="link" target="_blank" rel="noopener noreferrer" title="Términos y condiciones">TÉRMINOS Y CONDICIONES</a>
                    </p>
                </div>
                <div class="col-2 red-pringles">
                    <p class="text-center footer-fonts-link-desk"><a href="/Faq" class="link legals__link" target="_blank" rel="noopener noreferrer" title="FAQS">FAQ´S</a></p>
                </div>
                <div class="col-5 red-pringles">
                    <p class="text-right-link-desk footer-fonts-link-desk">
                        <a href="https://www.kelloggs.com.co/es_CO/politicas-de-privacidad.html"
                           class="link" target="_blank" rel="noopener noreferrer" title="Aviso de privacidad">AVISO DE PRIVACIDAD</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- Copyright -->
    </footer>


    <footer class="text-center text-white yellow-bg-pringles" id="my-footer-content-mobile">
        <div style="position: relative; top: 10px; width: 99%;">
            <div class="row yellow-pringles">
                <div class="col-3"></div>
                <div class="col-2 d-flex justify-content-center">
                    <div class="footer-icon" ng-click="irARedes(1)">
                        <img src="../../Content/Assets/Footer/instagram.png" class="footer-img-insta">
                    </div>
                </div>
                <div class="col-2 d-flex justify-content-center">
                    <div class="footer-icon" ng-click="irARedes(2)">
                        <img src="../../Content/Assets/Footer/facebook.png" class="footer-img-fb">
                    </div>
                </div>
                <div class="col-2 d-flex justify-content-center">
                    <div class="footer-icon" ng-click="irARedes(3)">
                        <img src="../../Content/Assets/Footer/twitter.png" class="footer-img-tw">
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
            <div class="row footer-fix">
                <div class="col-12 red-pringles ">
                    <p class="text-center footer-fonts" style="margin-bottom: 0px">COME BIEN</p>
                    <p class="text-center footer-fonts">Todos los derechos reservados Kellogg's 2022</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-5 red-pringles">
                    <p class="text-center footer-fonts-link">
                        <a href="/TerminosYCondiciones" class="link" target="_blank" rel="noopener noreferrer" title="Términos y condiciones">TÉRMINOS Y CONDICIONES</a>
                    </p>
                </div>
                <div class="col-2 red-pringles">
                    <p class="text-center footer-fonts-link"><a href="/Faq" class="link legals__link" target="_blank" rel="noopener noreferrer" title="FAQS">FAQ´S</a></p>
                </div>
                <div class="col-5 red-pringles">
                    <p class="text-center footer-fonts-link">
                        <a href="https://www.kelloggs.com.co/es_CO/politicas-de-privacidad.html"
                           class="link" target="_blank" rel="noopener noreferrer" title="Aviso de privacidad">AVISO DE PRIVACIDAD</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- Copyright -->
    </footer>

    <!--JS core-->
    <script src="~/Content/js/dependencies/jquery-2.0.1.js"></script>
    <script src="~/Content/js/dependencies/angular.min.js"></script>
    <script src="~/Content/js/dependencies/ng-file-upload.min.js"></script>
    <script src="~/Content/js/dependencies/ng-file-upload-shim.min.js"></script>

    <!--Angular-->
    @Scripts.Render("~/bundles/promo")

    <script src="~/Scripts/ccquery.js"></script>
    <script src="~/Scripts/datepicker.min.js"></script>
    <script src="~/Scripts/datepicker-locales-es.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/select2-es.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    @RenderSection("masterjs", required: false)
</body>

</html>
