﻿<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#5d1315">
    <meta name="theme-color" content="#ffffff">

    <title>Arranca a Ganar con Kellogg’s®</title>
    @Styles.Render("~/bundles/promoCss")
</head>
<body class="wrapperTeaser d-flex flex-column justify-content-start align-content-center align-items-center p-0 h-100 w-100">
    <div class="font_preload" style="opacity: 0; height: 0px;">
        <span style="font-family: Arial-Bold">Preloading...</span>
        <span style="font-family: Arial">Preloading...</span>
        <span style="font-family: NewGrotesk-FOUR">Preloading...</span>
        <span style="font-family: NewGrotesk-SIX">Preloading...</span>
        <span style="font-family: NewGrotesk-THREE">Preloading...</span>
        <span style="font-family: NewGrotesk-TWO">Preloading...</span>
    </div>
    <div id="error_wp"></div>
    
    @RenderBody()
    <footer class="main-footer mt-auto w-100" role="contentinfo">
        <div class="containerSocial">
            <ul class="footer-social">
                <li class="footer-social_item" tabindex="0">
                    <a href="https://www.instagram.com/kelloggslatam_" tabindex="-1" aria-label="ir a instagram" target="_blank" rel="noopener noreferrer" title="Ir a instagram">
                        <figure class="icon-footer">
                            <img src="/Content/Assets/Footer/IG.png" alt="Instagram-Kellogg’s®" title="Instagram-Kellogg’s®">
                        </figure>
                    </a>
                </li>
                <li class="footer-social_item" tabindex="0">
                    <a href="https://www.facebook.com/KelloggsColombia" tabindex="-1" aria-label="ir a facebook" target="_blank" rel="noopener noreferrer" title="Ir a facebook">
                        <figure class="icon-footer">
                            <img src="/Content/Assets/Footer/FB.png" alt="Facebook-Kellogg’s®" title="Facebook-Kellogg’s®">
                        </figure>
                    </a>
                </li>
                <li class="footer-social_item" tabindex="0">
                    <a href="https://twitter.com/kelloggslatam" tabindex="-1" aria-label="ir a twitter" target="_blank" rel="noopener noreferrer" title="Ir a twitter">
                        <figure class="icon-footer">
                            <img src="/Content/Assets/Footer/TW.png" alt="Twitter-Kellogg’s®" title="Twitter-Kellogg’s®">
                        </figure>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container-footer">
            <div class="bgFooter d-flex flex-column justify-content-center align-content-center align-items-center">
                <div class="footerSecc2 col d-flex flex-wrap align-content-center align-items-start p-lr-5">
                    <div class="div-footerComeBien d-flex flex-column justify-content-center align-items-center p-0">
                        <p class="text-footer-leyenda text-footer-leyenda2">
                            COME BIEN
                        </p>
                    </div>
                    <div class="div-footerSecc2 d-flex justify-content-center align-items-center p-0">
                        <p class="text-footer">
                            @*<a href="/TerminosYCondiciones" class="link legals__link" target="_blank" rel="noopener noreferrer" title="Términos y condiciones">TÉRMINOS Y CONDICIONES</a>*@
                        </p>
                    </div>
                    <div class="div-footerSecc2 d-flex justify-content-center align-items-center p-0">
                        <p class="text-footer">
                            @*<a href="/Faq" class="link legals__link" target="_blank" rel="noopener noreferrer" title="FAQS">FAQS</a>*@
                        </p>
                    </div>
                    <div class="div-footerSecc2 d-flex justify-content-center align-items-center p-0 ">
                        <p class="text-footer">
                            @*<a href="https://www.kelloggs.com.co/es_CO/politicas-de-privacidad.html" class="link legals__link" target="_blank" rel="noopener noreferrer" title="Aviso de privacidad">AVISO DE PRIVACIDAD</a>*@
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/promo")
    @RenderSection("scripts", required: false)
</body>
</html>