﻿<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#5d1315">
    <meta name="theme-color" content="#ffffff">

    <title>Error</title>

    @Styles.Render("~/bundles/promoCss")
</head>
<body>
<div class="wrapper wrapper-errores d-flex flex-column justify-content-start align-content-center align-items-center p-0 h-100 w-100">
  
    @RenderBody()
</div>

@RenderSection("scripts", required: false)
</body>
</html>