﻿[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x- ng-cloak {
	display: none !important;
}

.seleccionar {
	cursor: pointer
}


@media (min-width: 1401px) {
	.header-left-img {
		position: relative;
		max-width: 85px;
		height: auto;
        z-index: 9;
	}
	.mecanicas {
		position: relative;
		background-repeat: no-repeat;
		left: 31px;
		background-image: url(../Assets/Chat/MecanicaDesk.png);
		background-size: 650px 350px;
		height: 350px;
		width: 650px !important;
	}
	
	

	.header-rigth-img {
		top: 12px;
		position: relative;
		max-width: 60px;
		height: auto;
	}

	.img-0 {
		top: 49px !important;
		position: relative !important;
		right: 542px !important;
		width: 200px;
	}
	.img-3 {
		margin-top: 76px;
		margin-bottom: 52px;
		top: 49px !important;
		position: relative !important;
		right: -10px !important;
		height: 450px;
		width: 500px !important;
	}
	.img-5 {
		margin-top: 20px;
		margin-bottom: 20px;
		top: 49px !important;
		position: relative !important;
		right: 542px !important;
		width: 200px;
	}
	.img-6 {
		margin-top: 45px;
		margin-bottom: 20px;
		top: 49px !important;
		position: relative !important;
		right: 542px !important;
		width: 200px;
	}
	.img-7 {
		margin-top: 90px;
		margin-bottom: 54px;
		top: 49px !important;
		position: relative !important;
		left: -500px !important;
		height: 450px;
		width: 500px !important;
	}
    .img-12 {
        margin-top: 90px;
        margin-bottom: 54px;
        top: 49px !important;
        position: relative !important;
        left:  21px !important;
        height: 450px;
        width: 500px !important;
    }
	.img-9 {
		margin-top: 50px;
		margin-bottom: 20px;
		top: 49px !important;
		position: relative !important;
		right: 542px !important;
		width: 200px;
	}
	.img-10 {
		margin-top: 50px;
		margin-bottom: 20px;
		top: 49px !important;
		position: relative !important;
		right: 542px !important;
		width: 200px;
	}          

	.header-center-img {
		width: 200px;
		top: -90px;
		height: auto;
		position: relative;
		left: 0px;
	}

	.h-panel {
		height: 70Vh !important;
	}

	.h-header {
		height: 10vh !important;
	}

	.h-footer {
		height: 7vh !important;
	}

	.mensaje-img-izquierda {
		max-width: 40px;
		height: auto;
		position: relative;
		top: 15px;
	}

	.mensaje-img-derecha {
		max-width: 38px;
		height: auto;
		position: relative;
		top: 15px;
        margin-right: 0.8em;
	}

	.message-me {
		margin-top: 2px;
		clear: both;
		position: relative;
		right: 27px;
		width: 500px;
	}



	.message {
		margin-top: 2px;
		clear: both;
		width: 500px;
	}

    .message-button {
        width: 381px !important;
    }

		.message p, .message-me p {
			margin: 3px 8px;
		}

			.message p:last-child, .message-me p:last-child {
				margin: -2% -1%;
			}

		.message h6 {
			font-weight: 600;
		}


	.input-text {
		width: 90% !important;
		padding: .375rem .75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #212529;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		-webkit-appearance: none;
		-moz-appearance: none;
		border-radius: .25rem;
		position: relative;
		left: 2%;
		position: relative;
		top: 15px;
		border-radius: 25px;
        margin-left: 0.4em;
	}

	.footer {
		background-color: #FFB81F;
		position: absolute;
		bottom: 0;
		width: 100% !important;
	}


	.globoizquierda {
		position: relative;
		padding: 15px;
		margin: 1em 0 2em;
		border: 2px solid #E40426;
		/* css3 */
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin-left: 30px;
		box-shadow: 1px 9px 7px -6px #A11630;
	}

		.globoizquierda:before {
			content: "";
			position: absolute;
			border-style: solid;
			/* reduce the damage in FF3.0 */
			display: block;
			width: 0;
			top: 10px; /* controls vertical position */
			bottom: auto;
			left: -30px; /* value = - border-left-width - border-right-width */
			border-width: 15px 30px 15px 0;
			border-color: transparent #E40426;
		}

		.globoizquierda:after {
			content: "";
			position: absolute;
			border-style: solid;
			/* reduce the damage in FF3.0 */
			display: block;
			width: 0;
			top: 16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
			bottom: auto;
			left: -21px; /* value = - border-left-width - border-right-width */
			border-width: 9px 21px 9px 0;
			border-color: transparent #E40426;
		}

	.globoderecha {
		position: relative;
		padding: 15px;
		margin: 1em 0 3em;
		border: 2px solid #FFFFFF;
		/* css3 */
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin-left: 30px;
		box-shadow: 1px 9px 7px -6px #4e2020;
	}

		.globoderecha:before {
			content: "";
			position: absolute;
			border-style: solid;
			/* reduce the damage in FF3.0 */
			display: block;
			width: 0;
			top: 10px; /* controls vertical position */
			bottom: auto;
			left: 497px; /* value = - border-left-width - border-right-width */
			border-width: 15px 0 15px 30px;
			border-color: transparent #FFFFFF;
        }

		.globoderecha:after {
			content: "";
			position: absolute;
			border-style: solid;
			/* reduce the damage in FF3.0 */
			display: block;
			width: 0;
			top: 16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
			bottom: auto;
			left: 497px; /* value = - border-left-width - border-right-width */
			border-width: 9px 0 9px 21px;
			border-color: transparent #FFFFFF;
		}

	.botonizquierda {
		position: relative;
		background: linear-gradient(45deg, #F4E10B, #EF9B23) !important;
		padding: 15px;
		margin: 0.5em 0 0;
		border: 2px solid #F4E10B;
		/* css3 */
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 44px;
		margin-left: 30px;
		box-shadow: 1px 6px 7px -6px #F4E10B;
	}
}

@media (max-width: 1400px) {
	.header-left-img {
		position: relative;
		max-width: 60px;
		height: auto;
        z-index: 9;
	}
	.mecanicas {
		position: relative;
		background-repeat: no-repeat;
		left: 31px;
		background-image: url(../Assets/Chat/MecanicaDesk.png);
		background-size: 650px 350px;
		height: 350px;
		width: 650px !important;
	}

	.header-rigth-img {
		top: 12px;
		position: relative;
		max-width: 60px;
		height: auto;
	}

	.img-0 {
		top: 49px !important;
		position: relative !important;
		right: 542px !important;
		width: 200px;
	}

	.img-3 {
		margin-top: 76px;
		margin-bottom: 52px;
		top: 49px !important;
		position: relative !important;
		right: -10px !important;
		height: 450px;
		width: 500px !important;
	}

	.img-5 {
		margin-top: 20px;
		margin-bottom: 20px;
		top: 49px !important;
		position: relative !important;
		right: 542px !important;
		width: 200px;
	}

	.img-6 {
		margin-top: 45px;
		margin-bottom: 20px;
		top: 49px !important;
		position: relative !important;
		right: 542px !important;
		width: 200px;
	}

	.img-7 {
		margin-top: 90px;
		margin-bottom: 54px;
		top: 49px !important;
		position: relative !important;
		left: -500px !important;
		height: 450px;
		width: 500px !important;
	}
    .img-12 {
        margin-top: 90px;
        margin-bottom: 54px;
        top: 49px !important;
        position: relative !important;
        left: 21px !important;
        height: 450px;
        width: 500px !important;
    }

	.img-9 {
		margin-top: 50px;
		margin-bottom: 20px;
		top: 49px !important;
		position: relative !important;
		right: 542px !important;
		width: 200px;
	}

	.img-10 {
		margin-top: 50px;
		margin-bottom: 20px;
		top: 49px !important;
		position: relative !important;
		right: 542px !important;
		width: 200px;
	}         

	.header-rigth-img {
		top: 4px;
		position: relative;
		max-width: 40px;
		height: auto;
	}

	.header-center-img {
		max-width: 150px;
		top: -65px;
		height: auto;
		position: relative;
		left: 0px;
	}

	.h-panel {
		height: 61Vh !important;
	}

	.h-header {
		height: 10vh !important;
	}

	.h-footer {
		height: 9vh !important;
	}

	.mensaje-img-izquierda {
		max-width: 40px;
		height: auto;
		position: relative;
		top: 13px;
	}

	.mensaje-img-derecha {
		max-width: 38px;
		height: auto;
		position: relative;
		top: 13px;
        margin-right: 0.8em;
	}

	.message-me {
		margin-top: 2px;
		clear: both;
		position: relative;
		right: 27px;
		width: 500px;
	}



	.message {
		margin-top: 2px;
		clear: both;
		width: 500px;
	}

	.message-button {
        width: 381px !important;
    }

	.message p, .message-me p {
		margin: 3px 8px;
	}

			.message p:last-child, .message-me p:last-child {
				margin: -2% -1%;
			}

		.message h6 {
			font-weight: 600;
		}


	.input-text {
		width: 90% !important;
		padding: .375rem .75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #212529;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		-webkit-appearance: none;
		-moz-appearance: none;
		border-radius: .25rem;
		position: relative;
		left: 2%;
		position: relative;
		top: 13px;
		border-radius: 25px;
        margin-left: 0.4em;
	}

	.footer {
		background-color: #FFB81F;
		position: absolute;
		bottom: 0;
		height: 21vh;
		width: 100% !important;
	}

	.margen-footer {
		margin-top: 40px;
	}

	.globoizquierda {
		position: relative;
		padding: 15px;
		margin: 1em 0 2em;
		border: 2px solid #E40426;
		/* css3 */
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin-left: 30px;
		box-shadow: 1px 9px 7px -6px #A11630;
	}

		.globoizquierda:before {
			content: "";
			position: absolute;
			border-style: solid;
			/* reduce the damage in FF3.0 */
			display: block;
			width: 0;
			top: 10px; /* controls vertical position */
			bottom: auto;
			left: -30px; /* value = - border-left-width - border-right-width */
			border-width: 15px 30px 15px 0;
			border-color: transparent #E40426;
		}

		.globoizquierda:after {
			content: "";
			position: absolute;
			border-style: solid;
			/* reduce the damage in FF3.0 */
			display: block;
			width: 0;
			top: 16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
			bottom: auto;
			left: -21px; /* value = - border-left-width - border-right-width */
			border-width: 9px 21px 9px 0;
			border-color: transparent #E40426;
		}

	.globoderecha {
		position: relative;
		padding: 15px;
		margin: 1em 0 3em;
		border: 2px solid #FFFFFF;
		/* css3 */
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin-left: 30px;
		box-shadow: 1px 9px 7px -6px #4e2020;
	}

		.globoderecha:before {
			content: "";
			position: absolute;
			border-style: solid;
			/* reduce the damage in FF3.0 */
			display: block;
			width: 0;
			top: 10px; /* controls vertical position */
			bottom: auto;
			left: 497px; /* value = - border-left-width - border-right-width */
			border-width: 15px 0 15px 30px;
			border-color: transparent #FFFFFF;
		}

		.globoderecha:after {
			content: "";
			position: absolute;
			border-style: solid;
			/* reduce the damage in FF3.0 */
			display: block;
			width: 0;
			top: 16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
			bottom: auto;
			left: 497px; /* value = - border-left-width - border-right-width */
			border-width: 9px 0 9px 21px;
			border-color: transparent #FFFFFF;
		}

	.botonizquierda {
		position: relative;
		background: linear-gradient(45deg, #F4E10B, #EF9B23) !important;
		padding: 15px;
		margin: 0.5em 0 0;
		border: 2px solid #F4E10B;
		/* css3 */
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 44px;
		margin-left: 30px;
		box-shadow: 1px 6px 7px -6px #F4E10B;
	}
}

@media (max-width: 756px) {
	.mecanicas {
		position: relative;
		background-repeat: no-repeat;
		left: 31px;
		background-image: url(../Assets/Chat/MecanicaDesk.png);
		background-size: 650px 350px;
		height: 350px;
		width: 650px !important;
	}


	.header-left-img {
		position: relative;
		max-width: 60px;
		height: auto;
        z-index: 9;
	}

	.header-rigth-img {
		top: 12px;
		position: relative;
		max-width: 60px;
		height: auto;
	}

	.img-0 {
		top: 49px !important;
		position: relative !important;
		right: 542px !important;
		width: 200px;
	}

	.img-3 {
		margin-top: 76px;
		margin-bottom: 52px;
		top: 49px !important;
		position: relative !important;
		right: -10px !important;
		height: 450px;
		width: 500px !important;
	}

	.img-5 {
		margin-top: 20px;
		margin-bottom: 20px;
		top: 49px !important;
		position: relative !important;
		right: 542px !important;
		width: 200px;
	}

	.img-6 {
		margin-top: 45px;
		margin-bottom: 20px;
		top: 49px !important;
		position: relative !important;
		right: 542px !important;
		width: 200px;
	}

	.img-7 {
		margin-top: 90px;
		margin-bottom: 54px;
		top: 49px !important;
		position: relative !important;
		left: -500px !important;
		height: 450px;
		width: 500px !important;
	}
    .img-12 {
        margin-top: 90px;
        margin-bottom: 54px;
        top: 49px !important;
        position: relative !important;
        left: 21px !important;
        height: 450px;
        width: 500px !important;
    }

	.img-9 {
		margin-top: 50px;
		margin-bottom: 20px;
		top: 49px !important;
		position: relative !important;
		right: 542px !important;
		width: 200px;
	}

	.img-10 {
		margin-top: 50px;
		margin-bottom: 20px;
		top: 49px !important;
		position: relative !important;
		right: 542px !important;
		width: 200px;
	}         

	.header-rigth-img {
		top: 4px;
		position: relative;
		max-width: 40px;
		height: auto;
	}

	.header-center-img {
		max-width: 150px;
		top: -65px;
		height: auto;
		position: relative;
		left: 0px;
	}

	.h-panel {
		height: 61Vh !important;
	}

	.h-header {
		height: 10vh !important;
	}

	.h-footer {
		height: 9vh !important;
	}

	.mensaje-img-izquierda {
		max-width: 35px;
		height: auto;
		position: relative;
		top: 9px;
	}

	.mensaje-img-derecha {
		max-width: 35px;
		height: auto;
		position: relative;
		top: 9px;
        margin-right: 0.8em;
	}

	.message-me {
		margin-top: 2px;
		clear: both;
		position: relative;
		right: 27px;
		width: 300px;
	}



	.message {
		margin-top: 2px;
		clear: both;
		width: 300px;
	}

	.message-button {
        width: 300px !important;
	}

		.message p, .message-me p {
			margin: 3px 8px;
		}

			.message p:last-child, .message-me p:last-child {
				margin: -2% -1%;
			}

		.message h6 {
			font-weight: 600;
		}


	.input-text {
		width: 80% !important;
		padding: .375rem .75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #212529;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		-webkit-appearance: none;
		-moz-appearance: none;
		border-radius: .25rem;
		position: relative;
		left: 2%;
		position: relative;
		top: 9px;
		border-radius: 25px;
        margin-left: 0.4em;
	}

	.footer {
		background-color: #FFB81F;
		position: absolute;
		bottom: 0;
		height: 21vh;
		width: 100% !important;
	}

	.margen-footer {
		margin-top: 40px;
	}

	.botonizquierda {
		position: relative;
		background: linear-gradient(45deg, #F4E10B, #EF9B23) !important;
		padding: 15px;
		margin: 0.5em 0 0;
		border: 2px solid #F4E10B;
		/* css3 */
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 44px;
		margin-left: 30px;
		box-shadow: 1px 6px 7px -6px #F4E10B;
	}

	.globoizquierda {
		position: relative;
		padding: 15px;
		margin: 1em 0 2em;
		border: 2px solid #E40426;
		/* css3 */
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin-left: 30px;
		box-shadow: 1px 9px 7px -6px #A11630;
	}

		.globoizquierda:before {
			content: "";
			position: absolute;
			border-style: solid;
			/* reduce the damage in FF3.0 */
			display: block;
			width: 0;
			top: 10px; /* controls vertical position */
			bottom: auto;
			left: -30px; /* value = - border-left-width - border-right-width */
			border-width: 15px 30px 15px 0;
			border-color: transparent #E40426;
		}

		.globoizquierda:after {
			content: "";
			position: absolute;
			border-style: solid;
			/* reduce the damage in FF3.0 */
			display: block;
			width: 0;
			top: 16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
			bottom: auto;
			left: -21px; /* value = - border-left-width - border-right-width */
			border-width: 9px 21px 9px 0;
			border-color: transparent #E40426;
		}

	.globoderecha {
		position: relative;
		padding: 15px;
		margin: 1em 0 3em;
		border: 2px solid #FFFFFF;
		/* css3 */
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin-left: 30px;
		box-shadow: 1px 9px 7px -6px #4e2020;
	}

		.globoderecha:before {
			content: "";
			position: absolute;
			border-style: solid;
			/* reduce the damage in FF3.0 */
			display: block;
			width: 0;
			top: 10px; /* controls vertical position */
			bottom: auto;
			left: 298px; /* value = - border-left-width - border-right-width */
			border-width: 15px 0 15px 30px;
			border-color: transparent #FFFFFF;
		}

		.globoderecha:after {
			content: "";
			position: absolute;
			border-style: solid;
			/* reduce the damage in FF3.0 */
			display: block;
			width: 0;
			top: 16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
			bottom: auto;
			left: 298px; /* value = - border-left-width - border-right-width */
			border-width: 9px 0 9px 21px;
			border-color: transparent #FFFFFF;
		}
}

@media (max-width: 600px) {

	.header-left-img {
		position: relative;
		max-width: 60px;
		height: auto;
        z-index: 9;
	}
	.mecanicas {
		position: relative;
		left: 31px;
		background-image: url(../Assets/Chat/MecanicaMobile.png);
		background-repeat: no-repeat;
		background-size: 300px 655px;
		height: 650px;
		width: 300px !important;
	}
	.header-rigth-img {
		top: 4px;
		position: relative;
		max-width: 40px;
		height: auto;
	}

	
		.header-rigth-img {
		top: 12px;
		position: relative;
		max-width: 60px;
		height: auto;
	}

	.img-0 {
		top: 0px !important;
		position: relative !important;
		right: 0px !important;
		width: 100px;
	}

	.img-3 {
		margin-top: 0px;
		margin-bottom: 0px;
		top: 0px !important;
		position: relative !important;
		right: -31px !important;
		height: 400px;
		width: 300px !important;
	}

	.img-5 {
		margin-top: 0px;
		margin-bottom: 0px;
		top: 0px !important;
		position: relative !important;
		right: 00px !important;
		width: 100px;
	}

	.img-6 {
		margin-top: 0px;
		margin-bottom: 0px;
		top: 0px !important;
		position: relative !important;
		right: 00px !important;
		width: 100px;
	}

	.img-7 {
		margin-top: 0px;
		margin-bottom: 0px;
		top: 0px !important;
		position: relative !important;
		left: 36px !important;
		height: 450px;
		width: 300px !important;
	}

    .img-12 {
        margin-top: 0px;
        margin-bottom: 0px;
        top: 0px !important;
        position: relative !important;
        left: 36px !important;
        height: 450px;
        width: 300px !important;
    }

	.img-9 {
		margin-top: 0px;
		margin-bottom: 00px;
		top: 0px !important;
		position: relative !important;
		right: 0px !important;
		width: 100px;
	}

	.img-10 {
		margin-top: 0px;
		margin-bottom: 00px;
		top: 0px !important;
		position: relative !important;
		right: 00px !important;
		width: 100px;
	}


	.header-center-img {
		max-width: 150px;
		top: -65px;
		height: auto;
		position: relative;
		left: 0px;
	}

	

	.h-panel {
		height: 75vh !important;
	}

	.h-header {
		height: 8vh !important;
	}

	.h-footer {
		height: 10vh !important;
	}

	.mensaje-img-izquierda {
		max-width: 35px;
		height: auto;
		position: relative;
		top: 20px;
	}

	.mensaje-img-derecha {
		max-width: 35px;
		height: auto;
		position: relative;
		top: 20px;
        margin-right: 0.8em;
	}

	.message-me {
		margin-top: 2px;
		clear: both;
		position: relative;
		right: 27px;
		width: 300px;
	}



	.message {
		margin-top: 2px;
		clear: both;
		width: 300px;
	}

	.message-button {
        width: 300px !important;
	}

		.message p, .message-me p {
			margin: 3px 8px;
		}

			.message p:last-child, .message-me p:last-child {
				margin: -2% -1%;
			}

		.message h6 {
			font-weight: 600;
		}


	.input-text {
		width: 75% !important;
		padding: .375rem .75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #212529;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		-webkit-appearance: none;
		-moz-appearance: none;
		border-radius: .25rem;
		position: relative;
		left: 2%;
		position: relative;
		top: 20px;
		border-radius: 25px;
        margin-left: 0.4em;
	}

	.footer {
		background-color: #FFB81F;
		position: absolute;
		bottom: 0;
		height: 10vh;
		width: 100% !important;
	}

	.margen-footer {
		margin-top: 40px;
	}

	.botonizquierda {
		position: relative;
		background: linear-gradient(45deg, #F4E10B, #EF9B23) !important;
		padding: 15px;
		margin: 0.5em 0 0;
		border: 2px solid #F4E10B;
		/* css3 */
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 44px;
		margin-left: 30px;
		box-shadow: 1px 6px 7px -6px #F4E10B;
	}

	.globoizquierda {
		position: relative;
		padding: 15px;
		margin: 1em 0 2em;
		border: 2px solid #E40426;
		/* css3 */
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin-left: 30px;
		box-shadow: 1px 9px 7px -6px #A11630;
	}

		.globoizquierda:before {
			content: "";
			position: absolute;
			border-style: solid;
			/* reduce the damage in FF3.0 */
			display: block;
			width: 0;
			top: 10px; /* controls vertical position */
			bottom: auto;
			left: -30px; /* value = - border-left-width - border-right-width */
			border-width: 15px 30px 15px 0;
			border-color: transparent #E40426;
		}

		.globoizquierda:after {
			content: "";
			position: absolute;
			border-style: solid;
			/* reduce the damage in FF3.0 */
			display: block;
			width: 0;
			top: 16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
			bottom: auto;
			left: -21px; /* value = - border-left-width - border-right-width */
			border-width: 9px 21px 9px 0;
			border-color: transparent #E40426;
		}

	.globoderecha {
		position: relative;
		padding: 15px;
		margin: 1em 0 3em;
		border: 2px solid #FFFFFF;
		/* css3 */
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin-left: 30px;
		box-shadow: 1px 9px 7px -6px #4e2020;
	}

		.globoderecha:before {
			content: "";
			position: absolute;
			border-style: solid;
			/* reduce the damage in FF3.0 */
			display: block;
			width: 0;
			top: 10px; /* controls vertical position */
			bottom: auto;
			left: 298px; /* value = - border-left-width - border-right-width */
			border-width: 15px 0 15px 30px;
			border-color: transparent #FFFFFF;
		}

		.globoderecha:after {
			content: "";
			position: absolute;
			border-style: solid;
			/* reduce the damage in FF3.0 */
			display: block;
			width: 0;
			top: 16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
			bottom: auto;
			left: 298px; /* value = - border-left-width - border-right-width */
			border-width: 9px 0 9px 21px;
			border-color: transparent #FFFFFF;
		}
}

.bg-wp {
	background-color: #EDE9E4;
	background-image: url('../Assets/Home/bg.png');
	background-repeat: repeat;
	background-position: left;
	height: 100%
}


.bgError-wp {
	background-repeat: no-repeat;
	background-image: url(../Assets/Errores/bg-desk.png);
	background-size: 101vw 80vh;
	height: 80vh;
	width: 100vw !important;
}
.botonError {
	position: relative;
	background: linear-gradient(45deg, #F4E10B, #EF9B23) !important;
	padding: 15px;
	margin: 0.5em 0 0;
	border: 2px solid #F4E10B;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 44px;
	box-shadow: 1px 6px 7px -6px #f4e10b;
	color: #E40426;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
    width: 44%;
}
.header {
	background-color: #E32436;
	height: 100%;
	width: 100%;
}


.r-100 {
	border-radius: 100%;
}

.oval {
	border-radius: 4px;
}

.barra-color {
	color: #B7B4AF;
}

.w-100 {
	width: 100%;
}

.f-left {
	float: left;
}

.f-right {
	float: right;
}


.pd-2 {
	padding: 2%;
}

.pd-1 {
	padding: 1%;
}

.p-12 {
	padding: 12px;
}

.foto {
	width: 40px;
	height: 40px;
}




.border-top {
	border-top: solid 1px #DADADA;
}

i {
	padding: 9px 9px;
	font-size: 1.4rem;
	color: #A6A9AD;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	font-family: 'Open Sans', Arial;
	font-size: 16px;
}

.container {
	padding: 0 10%;
	margin: auto;
	position: absolute;
	top: 2%;
}

.col-sm-4, .col-sm-8 {
	padding: 0;
}

	.col-sm-4 .bg-gray {
		border-right: solid 1px #DADADA;
	}

h4, h5, h6 {
	margin: 3px 3px 3px 8px;
}



.vista span {
	font-size: 0.7rem;
}

.search {
	position: relative;
	padding: 3%;
}

	.search i {
		font-size: 0.8rem;
		color: #A6A9AD;
		position: absolute;
		top: 25%;
		left: 4%;
	}


.scroll {
	overflow-y: scroll;
	width: 100%;
}

.new-message input {
	width: 88%;
	padding: 1% 3%;
	border: none;
}


::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track-piece {
	background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
	background-color: #CBCBCB;
}

@font-face {
	font-family: 'whatsapp-icons';
	src: url('../fonts/icomoon.eot?7slujz');
	src: url('../fonts/icomoon.eot?7slujz#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?7slujz') format('truetype'), url('../fonts/icomoon.woff?7slujz') format('woff'), url('../fonts/icomoon.svg?7slujz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'whatsapp-icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-dots-three-vertical:before {
	content: "\e900";
}

.icon-insert_emoticon:before {
	content: "\e904";
}

.icon-message:before {
	content: "\e901";
}

.icon-camera:before {
	content: "\e905";
}

.icon-mic:before {
	content: "\e902";
}

.icon-attachment:before {
	content: "\e903";
}

.icon-search:before {
	content: "\e906"
}




/*COLORES GENERALES*/
.yellow-pringles {
	color: #FFB81F;
}

.white-pringles {
	color: #FFFFFF;
}

.black-pringles {
	color: #000000;
    text-align: center;
}

.red-pringles-btn-text {
	color: #E40426;
	text-align: center;
	font-weight: bold;
}

.red-pringles {
	color: #A11630;
}

.yellow-bg-pringles {
	background-color: #FFB81F;
}

.white-bg-pringles {
	background-color: #FFFFFF;
}

.red-bg-pringles {
	background-color: #E40426;
}

/*COLORES GENERALES*/


/*FOOTER*/


.footer-icon {
	background: #f00;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #e40426;
	background-size: cover;
	cursor: pointer;
}

.footer-fonts {
	font-size: xx-small;
	font-family: Arial;
	color: #e40426;
}

.footer-fonts-desk {
	font-size: 0.7em;
	font-family: Arial;
	color: #e40426;
}

.footer-img-insta {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 52%;
	padding-top: 10px;
	cursor: pointer;
}

.footer-img-tw {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 52%;
	padding-top: 12px;
	cursor: pointer;
}

.footer-img-fb {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 28%;
	padding-top: 9px;
}

.footer-fonts-link a {
	font-size: xx-small;
	font-family: Arial;
	text-decoration: underline;
	font-weight: bold;
	cursor: pointer;
	color: #e40426;
}

.footer-fonts-link-desk a {
	font-size: small;
	font-family: Arial;
	text-decoration: underline;
	font-weight: bold;
	cursor: pointer;
	color: #e40426;
}

.text-left-link-desk {
	text-align: left !important;
	margin-left: 4em;
}

.text-right-link-desk {
	text-align: right !important;
	margin-right: 4em;
}

/*FOOTER*/


@media (min-width: 0px) and (max-width: 756px) {
	#my-footer-content-desk {
		display: none;
	}
	.loader-img {
		position: absolute;
		top: 29%;
		left: 31%;
		margin-top: -25px;
		margin-left: -25px;
		max-width: 200px;
		z-index: 9999;
	}
	/* show it on small screens */

	/*---------------- Inicio Registro -------------------------*/
	.bg-Registro {
		width: 100%;
		background-color: #fff022;
		background-image: url(/Content/Assets/Registro/Bg-Textura.png), url(/Content/Assets/Registro/Bg-Resplandor.png);
		-ms-background-size: 100%, cover;
		-moz-background-size: 100%, cover;
		-webkit-background-size: 100%, cover;
		background-size: 100%, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: 50% 4%, center center;
	}

	.titleRegistro {
		margin-top: 7.7vw;
		font-size: 6vw;
		text-align: center;
		filter: drop-shadow(0.4vw 0px 0 #ffba00);
		-ms-transform: rotate(-2deg) skewX(-2deg);
		-webkit-transform: rotate( -2deg ) skewX( -2deg );
		transform: rotate(-2deg) skewX(-2deg);
	}

	.subTitleRegistro {
		margin-top: -0.5vw;
		font-size: 1.85vw;
		text-align: center;
	}

	.container-registro {
		width: 80%;
		margin-top: 5.7vw !important;
		margin-bottom: 9vw !important;
	}

	.form-group {
		margin: 0 !important;
		position: relative;
		width: 100%;
	}

	.form-wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		flex-wrap: wrap;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

		.form-wrapper .form-group {
			-ms-flex-preferred-size: 48.6%;
			flex-basis: 48.6%;
		}

		.form-wrapper .button-container {
			margin: auto;
		}

		.form-wrapper #KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo {
			margin-top: 3vw;
			height: auto;
			-ms-flex-preferred-size: 100%;
			flex-basis: 100%;
			text-align: center;
		}

	::-webkit-input-placeholder {
		color: #E40426 !important;
		opacity: 0.8 !important;
		font-family: Arial !important;
	}

	::-moz-placeholder {
		color: #E40426 !important;
		opacity: 0.8 !important;
		font-family: Arial !important;
	}

	:-ms-input-placeholder {
		color: #E40426 !important;
		opacity: 0.8 !important;
		font-family: Arial !important;
	}

	:-moz-placeholder {
		color: #E40426 !important;
		opacity: 0.8 !important;
		font-family: Arial !important;
	}

	#KSTL-Registration-Password {
		text-transform: none !important;
	}

	#KSTL-Registration-PasswordConfirm {
		text-transform: none !important;
	}

	#KSTL-Registration-UserName, #KSTL-Registration-Password, .KSTL-Registration .ng-form input, .KSTL-Registration .ng-form select {
		text-transform: none !important;
		background-color: rgba(255,255,255, 0.8) !important;
		border: transparent !important;
		width: 100% !important;
		height: 4.48vw !important;
		color: #E40426 !important;
		max-width: 100% !important;
		border-radius: 3vw !important;
		box-sizing: border-box !important;
		font-size: 1.5vw !important;
		line-height: 1 !important;
		margin: 0px !important;
		padding: 0.6vw !important;
		padding-top: 0.8vw !important;
		text-align: center !important;
		display: inline-block;
		font-family: Arial !important;
		font-weight: normal !important;
		letter-spacing: 1px;
		box-shadow: none !important;
	}

		#KSTL-Registration-UserName:focus, #KSTL-Registration-Password:focus, .KSTL-Registration .ng-form input:focus {
			outline: 0 !important;
			border: 2px solid #ffba00 !important;
		}

			#KSTL-Registration-UserName:focus::-webkit-input-placeholder, #KSTL-Registration-Password:focus::-webkit-input-placeholder, .KSTL-Registration .ng-form input:focus::-webkit-input-placeholder {
				color: transparent !important;
			}

			#KSTL-Registration-UserName:focus::-moz-placeholder, #KSTL-Registration-Password:focus::-moz-placeholder, .KSTL-Registration .ng-form input:focus::-moz-placeholder {
				color: transparent !important;
			}

			#KSTL-Registration-UserName:focus:-ms-input-placeholder, #KSTL-Registration-Password:focus:-ms-input-placeholder, .KSTL-Registration .ng-form input:focus:-ms-input-placeholder {
				color: transparent !important;
			}

			#KSTL-Registration-UserName:focus:-moz-placeholder, #KSTL-Registration-Password:focus:-moz-placeholder, .KSTL-Registration .ng-form input:focus:-moz-placeholder {
				color: transparent !important;
			}

	#KSTL-Registration-YourEmailAddress {
		text-transform: none !important;
	}

	#KSTL-Registration-wrapper-ContinueButton1 {
		width: 75vw;
	}

	.KSTL-Registration .ng-form .recaptcha {
		margin: 3.5vw 0 !important;
		display: flex;
		align-items: center !important;
		justify-content: center !important;
		margin-bottom: 50px;
	}

	select.form-control {
		-webkit-appearance: none;
		border-radius: 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	select::-ms-expand {
		display: none;
	}

	select.form-control:invalid {
		color: white;
	}

	.field-icon {
		color: #E40426;
		right: 0;
		position: absolute;
		z-index: 2;
		cursor: pointer;
		line-height: 1 !important;
		margin: 1vw .8vw 1vw !important;
		padding: 0.7vw 0.3vw .6vw !important;
		font-size: 1.3vw;
	}
	/*#KSTL-Registration-Gender {
            display: none !important
        }*/
	#KSTL-Registration-FamilyRole {
		display: none !important
	}

	#KSTL-Registration-Gender {
		text-align-last: center;
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance: none;
		background: transparent;
		background-repeat: no-repeat;
		background-position-x: 95%;
		background-position-y: 53%;
		background-size: 1.2vw;
	}

	#MySelectFamilyRole {
		text-align-last: center;
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance: none;
		background: transparent;
		background-repeat: no-repeat;
		background-position-x: 95%;
		background-position-y: 53%;
		background-size: 1.2vw;
	}

	.infoTooltip {
		padding: 0.5vw !important;
		text-align: center !important;
		margin-left: auto;
		margin-right: auto;
		font-size: 1vw !important;
		color: #E40426 !important;
		font-family: Arial !important;
		background-color: #feedb6 !important;
		border: transparent !important;
		box-shadow: none !important;
	}

	#KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo input, .form-wrapper #KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo label {
		max-width: 100%;
		display: block;
		color: #E40426 !important;
		margin-top: auto;
		height: auto;
	}

	.KSTL-Registration .ng-form div.subscription {
		margin-bottom: 1vw !important;
		position: relative !important;
		width: 100% !important;
		min-height: unset !important;
		padding: unset !important;
		border-top: unset !important;
		background-repeat: unset !important;
		background-position: unset !important;
	}

	#KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo {
		margin-top: 1vw !important;
		height: auto;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		text-align: left;
	}

		#KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo > div > input {
			opacity: 0;
		}

		#KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo > div > label {
			color: #E40426 !important;
			font-family: Arial !important;
			font-weight: normal !important;
			line-height: 1.1 !important;
			text-transform: uppercase;
			text-align: left !important;
			cursor: pointer;
			margin-left: 5.5vw !important;
			font-size: 1.35vw !important;
		}

			#KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo > div > label:before {
				content: "\00a0";
				border: transparent !important;
				background-color: rgba(255,255,255, 0.6) !important;
				position: absolute;
				display: inline-block;
				height: 1.3vw;
				margin-left: -2vw !important;
				padding: 0;
				vertical-align: top;
				width: 1.3vw;
			}

		#KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo > div > input:checked + label:before {
			background: #E40426 !important;
		}

		#KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo > div > input:checked + label:after {
			font-weight: bold;
		}

		#KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo > div > input:focus + label::before {
			outline: 0 !important;
			border: 2px solid #ffba00 !important;
		}

	.KSTL-Registration .ng-form input[type=checkbox], .KSTL-Registration .ng-form input[type=radio] {
		border: none;
		box-shadow: none;
		float: left;
		clear: both;
		width: auto !important;
		height: auto !important;
		padding: 0;
	}

	#KSTL-Registration-wrapper-HeaderSubscription {
		height: auto;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		text-align: left;
	}

		#KSTL-Registration-wrapper-HeaderSubscription input, .form-wrapper #KSTL-Registration-wrapper-HeaderSubscription label {
			max-width: 100%;
			display: block;
			color: #E40426 !important;
		}

		#KSTL-Registration-wrapper-HeaderSubscription > div > div > input {
			opacity: 0;
		}

		#KSTL-Registration-wrapper-HeaderSubscription > div > div > label {
			color: #E40426 !important;
			font-family: Arial !important;
			font-weight: normal !important;
			line-height: 1.1 !important;
			text-transform: uppercase;
			text-align: left !important;
			cursor: pointer;
			margin-left: 5.5vw !important;
			font-size: 1.35vw !important;
		}

			#KSTL-Registration-wrapper-HeaderSubscription > div > div > label:before {
				content: "\00a0";
				border: transparent !important;
				background-color: rgba(255,255,255, 0.6) !important;
				position: absolute;
				display: inline-block;
				height: 1.3vw;
				margin-left: -2vw !important;
				padding: 0;
				vertical-align: top;
				width: 1.3vw;
			}

		#KSTL-Registration-wrapper-HeaderSubscription > div > div > input:checked + label:before {
			background: #E40426 !important;
		}

		#KSTL-Registration-wrapper-HeaderSubscription > div > div > input:checked + label:after {
			font-weight: bold;
		}

		#KSTL-Registration-wrapper-HeaderSubscription > div > div > input:focus + label::before {
			outline: 0 !important;
			border: 2px solid #ffba00 !important;
		}

	.KSTL-Registration .ng-form div.subscription.subscription-EM {
		background-image: unset !important;
	}

	#KSTL-Registration-PrivacyPolicy {
		opacity: 0;
	}

		#KSTL-Registration-PrivacyPolicy + label {
			color: #356230;
			font-family: Arial !important;
			font-weight: normal !important;
			line-height: 1.2 !important;
			letter-spacing: 1px;
			text-transform: uppercase;
			text-align: left !important;
			cursor: pointer;
			margin-left: 4vw !important;
			font-size: 0.933rem !important;
		}

			#KSTL-Registration-PrivacyPolicy + label:before {
				position: absolute;
				border: 2px solid #356230;
				content: "\00a0";
				display: inline-block;
				font: 16px/1em sans-serif;
				height: 16px;
				margin-left: -20px !important;
				padding: 0;
				vertical-align: top;
				width: 16px;
			}

		#KSTL-Registration-PrivacyPolicy:checked + label:before {
			background: #FFC20C;
			color: #ED1C24;
			content: "\2713";
		}

		#KSTL-Registration-PrivacyPolicy:checked + label:after {
			font-weight: bold;
		}

		#KSTL-Registration-PrivacyPolicy:focus + label::before {
			border: 2px solid #ffffff !important;
			box-shadow: 0 0 32px rgb(255 255 255 / 70%) !important;
			outline: 0;
		}

	.KSTL-Registration .ng-form input[type=checkbox], .KSTL-Registration .ng-form input[type=radio] {
		border: none;
		box-shadow: none;
		float: left;
		clear: both;
		width: auto !important;
		padding: 0;
	}

	.success-message {
		color: #FEFFFF;
		font-size: 0.5rem;
		margin-top: 5px;
		text-align: center;
		text-transform: uppercase;
	}

	.custom-error-form {
		background-color: #f10b2b;
		color: #ffffff;
		margin: 0.5rem 0;
		width: fit-content;
		align-self: flex-end;
		font-family: Arial !important;
		font-size: 18px;
		border-radius: 1.15rem;
		line-height: 1.25;
		max-width: 75%;
		padding: 0.5rem .875rem;
		padding-top: 0.6rem;
		position: relative;
		word-wrap: break-word;
		margin-top: -24px;
		margin-right: -40px;
	}

	.form-error > p {
		margin-bottom: 0px !important;
		color: #E40426;
	}

	.custom-error-form:before {
		border-top-right-radius: 0.8rem 0.7rem;
		border-left: 0.5rem solid #f10b2b;
		border-top: 1.2rem solid #f10b2b;
		left: 0px;
		transform: translate(0.1rem, -0.2rem);
	}

	.custom-error-form::after {
		background-color: #9896c3;
		border-bottom-right-radius: 1rem;
		left: 22px;
		transform: translate(-21px, -5px) rotate(100deg);
		width: 0.6rem !important;
		height: 0.6rem !important;
	}

	.custom-error-form::before, .custom-error-form::after {
		top: -0.2rem;
		content: "";
		height: 1rem;
		position: absolute;
	}

	.row .form-group {
		-ms-flex: 1;
		flex: 1;
	}

	.epsilonregistro .KSTL-Registration-button {
		margin-bottom: 6vw;
		margin-top: 3vw;
	}

	.epsilonregistro .KSTL-Registration button {
		animation: jittery 4s infinite;
		margin-left: auto;
		margin-right: auto;
		width: auto;
		height: auto;
		border-radius: 3vw;
		cursor: pointer;
		color: #FFC803 !important;
		background-image: linear-gradient(to right, #fe0d0e, #e60404);
		border: none;
		text-decoration: none !important;
		font-family: Arial !important;
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		transition: transform 0.3s;
		/*transition: color 0.3s ease-out;*/
		/*transition: background-color 0.3s ease-out;*/
		transition: background-image 0.3s ease-out;
	}

		.epsilonregistro .KSTL-Registration button:active {
			outline: none;
			border: none;
		}

		.epsilonregistro .KSTL-Registration button:focus {
			outline: none !important;
			border: 2px solid #ffffff !important;
			box-shadow: 0 0 32px rgb(255 255 255 / 70%) !important;
		}

		.epsilonregistro .KSTL-Registration button:hover {
			color: #E40426 !important;
			border: 0.3vw solid #ffbc00;
			background-image: linear-gradient(to right, #ffdd00, #ff9e00);
			-moz-box-shadow: 0 0 2vw 0.5vw rgb(242 208 99 / 60%);
			-webkit-box-shadow: 0 0 2vw 0.5vw rgb(242 208 99 / 60%);
			box-shadow: 0 0 2vw 0.5vw rgb(214 137 0 / 90%);
		}

		.epsilonregistro .KSTL-Registration button span {
			padding: 0.6vw;
			font-size: 1.5vw;
			padding-left: 7.5vw;
			padding-right: 7.5vw;
			letter-spacing: 0.2vw;
		}

	.error-form {
		background-color: transparent !important;
		color: #ffffff !important;
		margin-top: 2vw !important;
		margin-right: 0px !important;
		max-width: 100% !important;
	}

	.ai-small {
		height: 15px;
		width: 15px;
		border-width: 4px;
	}

		.ai-small:after {
			content: '' !important;
			font-size: 2.7vw;
		}

	.KSTL-Registration h1, .KSTL-Registration h2, .KSTL-Registration h3, .KSTL-Registration p {
		margin: 0 0 0 !important;
	}

	.KSTL-Registration .ng-form .survey > div > div, .KSTL-Registration .ng-form > div > div {
		margin-bottom: 1.85vw !important;
	}

	#KSTL-Registration-wrapper-PrivacyPolicy input, .form-wrapper #KSTL-Registration-wrapper-PrivacyPolicy label {
		max-width: 100%;
		display: block;
		color: #356230;
		margin-top: 10px;
	}

	.main .KSTL-Registration .pod,
	.main .KSTL-Registration-Registration .pod {
		border: none !important;
		min-width: auto;
		padding: 0;
		overflow: unset;
		margin-bottom: 0 !important;
	}

	.KSTL-Registration .pod,
	.KSTL-Registration-Registration .pod {
		border: none !important;
		min-width: auto;
		padding: 0;
		overflow: unset;
		margin-bottom: 0 !important;
	}

	.main .KSTL-Registration .pod .form-error p,
	.main .KSTL-Registration-Registration .pod .form-error p,
	.main .KSTL-Registration .pod .success-message p,
	.main .KSTL-Registration-Registration .pod .success-message p {
		color: inherit;
		font-size: inherit;
	}

	.main .KSTL-Registration button,
	.main .KSTL-Registration-Registration button {
		font-size: 1.5rem;
	}

	.main .KSTL-Registration h2:not(.title),
	.main .KSTL-Registration-Registration h2:not(.title) {
		font-family: Arial !important;
		font-size: 2rem;
		font-weight: normal;
	}

	.main .KSTL-Registration p, .main .KSTL-Registration-Registration p {
		color: #E40426 !important;
		text-align: center !important;
		font-size: 1.2vw !important;
		font-family: Arial !important;
		margin-top: 0.5vw !important;
		margin-bottom: 0.5vw !important;
	}

		.main .KSTL-Registration p a,
		.main .KSTL-Registration-Registration p a {
			color: #fff;
			line-height: 1.2;
		}
	/*---------------- Fin Registro -------------------------*/
	/*---------------- Inicio Login ----------------------------*/
	.login {
		background-image: url(/Content/Assets/Login/Bg-Textura-Movil.png), url(/Content/Assets/Login/Bg-Resplandor-Movil.png);
		-ms-background-size: 100%, cover;
		-moz-background-size: 100%, cover;
		-webkit-background-size: 100%, cover;
		-webkit-background-size: 100%, cover;
		background-size: 100%, cover;
		background-position: center 1%, center center;
	}

	.containerIniciaSesion {
		margin-top: 21vw;
		margin-bottom: 10vw;
	}

	.titleIniciaSesion {
		font-size: 7.9vw;
		filter: drop-shadow(0px 1vw #ffba00);
	}

	.containerCompletaDatos {
		width: 76vw;
	}

	.subTitleIniciaSesion {
		margin-top: 0.4vw;
		font-size: 4.2vw;
	}

	.subtitleCompletaDatos {
		width: 45vw;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2.5vw;
		line-height: 1;
		font-size: 4.9vw;
	}

	.containerCompletaDatos {
		width: 76vw;
	}

	.cedulaCompletaDatos {
	}

	.addressLineCompletaDatos {
	}

	.cityCompletaDatos {
	}

	.familyRoleCompletaDatos {
	}

	.genderCompletaDatos {
	}

	.phoneNumberCompletaDatos {
	}

	.termsCompletaDatos {
	}

	.continueBtnCompletaDatos {
		width: 76vw !important;
	}

	#reg-container {
		width: 100%;
	}

	.containerLogin {
		width: 75vw !important;
		margin-top: 7.35vw !important;
		margin-bottom: 14vw !important;
	}

	.KSTL-Registration .ng-form label {
		font-size: 13px !important;
		letter-spacing: 0.5px !important;
	}

	.forgot-password {
		margin-top: -3.8vw;
	}

		.forgot-password .link {
			font-size: 2.9vw;
		}

	.custom-error-form {
		font-size: 0.6rem !important;
		margin-top: -11px;
		margin-right: -28px;
	}

		.custom-error-form::after {
			background-color: #9896c3;
			border-bottom-right-radius: 1rem;
			left: 22px;
			transform: translate(-21px, -7px) rotate(100deg);
			width: 0.6rem !important;
			height: 0.6rem !important;
		}
	/*.error-form::after {
            width: 0px !important;
            height: 0px !important;
        }*/
	.field-icon {
		margin: 2.7vw 1.8vw 2.7vw !important;
		font-size: 3.5vw;
	}

	.not-register .link {
		font-size: 3.5vw;
	}

	#KSTL-Registration-wrapper-ContinueButton {
		margin-top: 9.8vw;
	}


	.epsilonlogin .KSTL-Registration button {
		border-radius: 7vw
	}

		.epsilonlogin .KSTL-Registration button:focus {
			border: 1px solid #ffffff !important;
			box-shadow: 0 0 6vw rgb(255 255 255 / 70%) !important;
		}
		/*.epsilonlogin .KSTL-Registration button:hover {
            background-image: linear-gradient(to right, #ffdd00, #ffb700);
            -moz-box-shadow: 0 0 2vw 0.5vw rgb(242 208 99 / 60%);
            -webkit-box-shadow: 0 0 2vw 0.5vw rgb(242 208 99 / 60%);
            box-shadow: 0 0 2.5vw 2.5vw rgb(242 208 99 / 60%);
        }*/
		.epsilonlogin .KSTL-Registration button span {
			padding: 0.4vw 14vw !important;
			font-size: 4vw !important;
			padding-top: 0.5vw !important;
			letter-spacing: 1px !important;
		}

	.not-register {
		margin-top: 3vw;
	}
	/*---------------- Fin Login -------------------------------*/

	/*---------------------- Inicio Registro --------------------------------*/
	.bg-Registro {
		background-image: url(/Content/Assets/Registro/Bg-Textura-Movil.png), url(/Content/Assets/Registro/Bg-Resplandor-Movil.png);
		-ms-background-size: 100%, cover;
		-moz-background-size: 100%, cover;
		-webkit-background-size: 100%, cover;
		background-size: 100%, cover;
		background-position: 50% 4%, center center;
	}

	.container-registro {
		width: 75vw !important;
		margin-top: 11.5vw !important;
		margin-bottom: 24vw !important;
		padding: 0px !important;
	}

	.titleRegistro {
		margin-top: 19.7vw;
		font-size: 10.5vw;
		filter: drop-shadow(0px 1vw #ffba00);
	}

	.subTitleRegistro {
		margin-top: -1.5vw;
		font-size: 3.8vw;
	}

	.form-wrapper .form-group {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
	}

	.KSTL-Registration .ng-form .survey > div > div, .KSTL-Registration .ng-form > div > div {
		margin-bottom: 4.4vw !important;
	}

	#KSTL-Registration-UserName, #KSTL-Registration-Password, .KSTL-Registration .ng-form input, .KSTL-Registration .ng-form select {
		height: 10.3vw !important;
		border-radius: 5vw !important;
		margin: 0px !important;
		font-size: 3.5vw !important;
		letter-spacing: 0.2px;
        font-family: Arial !important;
	}

		#KSTL-Registration-UserName:focus, #KSTL-Registration-Password:focus, .KSTL-Registration .ng-form input:focus {
			outline: 0 !important;
			border: 1px solid #ffba00 !important;
		}

	.infoTooltip {
		padding: 1vw !important;
		font-size: 2vw !important;
	}

	#KSTL-Registration-wrapper-HeaderSubscription > div > div > label {
		letter-spacing: 0px !important;
		font-size: 2.8vw !important;
		margin-left: 7vw !important;
		margin-right: 1vw !important;
		font-size: 3vw !important;
		width: 96%
	}

		#KSTL-Registration-wrapper-HeaderSubscription > div > div > label:before {
			height: 3vw;
			margin-left: -4vw !important;
			width: 3vw;
		}

	#KSTL-Registration-wrapper-HeaderSubscription > div > div > input:focus + label::before {
		outline: 0 !important;
		border: 1px solid #ffba00 !important;
	}

	#KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo > div > label {
		letter-spacing: 0px !important;
		font-size: 2.8vw !important;
		margin-left: 7vw !important;
		margin-right: 1vw !important;
		font-size: 3vw !important;
		width: 96%
	}

		#KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo > div > label:before {
			height: 3vw;
			margin-left: -4vw !important;
			width: 3vw;
		}

	#KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo > div > input:focus + label::before {
		outline: 0 !important;
		border: 1px solid #ffba00 !important;
	}

	.form-group {
		margin: 0;
	}

	.main .KSTL-Registration p, .main .KSTL-Registration-Registration p {
		font-size: 2.5vw !important;
		margin-top: 1vw !important;
		margin-bottom: 1vw !important;
	}

	.epsilonregistro:first-child {
		width: 100% !important;
	}

	.KSTL-Registration .ng-form .recaptcha {
		margin: 3.5vw 0 !important;
		margin-bottom: 12vw !important;
	}

	.epsilonregistro .KSTL-Registration button {
		border-radius: 7vw
	}

		.epsilonregistro .KSTL-Registration button:focus {
			border: 1px solid #ffffff !important;
			box-shadow: 0 0 6vw rgb(255 255 255 / 70%) !important;
		}
		/*.epsilonregistro .KSTL-Registration button:hover {
            background-image: linear-gradient(to right, #ffdd00, #ffb700);
            -moz-box-shadow: 0 0 2vw 0.5vw rgb(242 208 99 / 60%);
            -webkit-box-shadow: 0 0 2vw 0.5vw rgb(242 208 99 / 60%);
            box-shadow: 0 0 2.5vw 2.5vw rgb(242 208 99 / 60%);
        }*/
		.epsilonregistro .KSTL-Registration button span {
			padding: 0.4vw 15vw;
			font-size: 3.6vw;
			padding-top: 0.5vw;
			letter-spacing: 1.3px;
		}
	/*---------------------- Fin Registro -----------------------------------*/
    #my-footer-content-mobile-f {
        display: none;
    }

	.force-footer-chat-bg {
        background-image: url(../Assets/Home/bg.png) !important;
        height: 1vh !important;
        width: 100% !important;
    }
  
}

@media (min-width: 757px) {
	.force-footer-chat-bg {
		background-image: url(../Assets/Home/bg.png) !important;
		height: 1vh !important;
        width: 100% !important;
	}
	
	.force-footer-chat {
		height: 74vh !important;
	}

    .force-footer {
        background-image: url(../Assets/Home/bg.png) !important;
    }

    #my-footer-content-mobile-f2 {
        display: none;
    }
	#my-footer-content-mobile {
		display: none;
	}
    
    .loader-img {
		position: absolute;
		top: 29%;
		left: 46%;
		margin-top: -25px;
		margin-left: -25px;
		max-width: 200px;
		z-index: 9999;
	}
	/* hide it elsewhere */

	/*---------------- Inicio Registro -------------------------*/
	.bg-Registro {
		width: 100%;
		background-color: #fff022;
		background-image: url(/Content/Assets/Registro/Bg-Textura.png), url(/Content/Assets/Registro/Bg-Resplandor.png);
		-ms-background-size: 100%, cover;
		-moz-background-size: 100%, cover;
		-webkit-background-size: 100%, cover;
		background-size: 100%, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: 50% 4%, center center;
	}

	.titleRegistro {
		margin-top: 7.7vw;
		font-size: 6vw;
		text-align: center;
		filter: drop-shadow(0.4vw 0px 0 #ffba00);
		-ms-transform: rotate(-2deg) skewX(-2deg);
		-webkit-transform: rotate( -2deg ) skewX( -2deg );
		transform: rotate(-2deg) skewX(-2deg);
	}

	.subTitleRegistro {
		margin-top: -0.5vw;
		font-size: 1.85vw;
		text-align: center;
	}

	.container-registro {
		width: 80%;
		margin-top: 5.7vw !important;
		margin-bottom: 9vw !important;
	}

	.form-group {
		margin: 0 !important;
		position: relative;
		width: 100%;
	}

	.form-wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		flex-wrap: wrap;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

		.form-wrapper .form-group {
			-ms-flex-preferred-size: 48.6%;
			flex-basis: 48.6%;
		}

		.form-wrapper .button-container {
			margin: auto;
		}

		.form-wrapper #KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo {
			margin-top: 3vw;
			height: auto;
			-ms-flex-preferred-size: 100%;
			flex-basis: 100%;
			text-align: center;
		}

	::-webkit-input-placeholder {
		color: #E40426 !important;
		opacity: 0.8 !important;
		font-family: Arial !important;
	}

	::-moz-placeholder {
		color: #E40426 !important;
		opacity: 0.8 !important;
		font-family: Arial !important;
	}

	:-ms-input-placeholder {
		color: #E40426 !important;
		opacity: 0.8 !important;
		font-family: Arial !important;
	}

	:-moz-placeholder {
		color: #E40426 !important;
		opacity: 0.8 !important;
		font-family: Arial !important;
	}

	#KSTL-Registration-Password {
		text-transform: none !important;
	}

	#KSTL-Registration-PasswordConfirm {
		text-transform: none !important;
	}

	#KSTL-Registration-UserName, #KSTL-Registration-Password, .KSTL-Registration .ng-form input, .KSTL-Registration .ng-form select {
		text-transform: none !important;
		background-color: rgba(255,255,255, 0.8) !important;
		border: transparent !important;
		width: 100% !important;
		height: 4.48vw !important;
		color: #E40426 !important;
		max-width: 100% !important;
		border-radius: 3vw !important;
		box-sizing: border-box !important;
		font-size: 1.5vw !important;
		line-height: 1 !important;
		margin: 0px !important;
		padding: 0.6vw !important;
		padding-top: 0.8vw !important;
		text-align: center !important;
		display: inline-block;
		font-family: Arial !important;
		font-weight: normal !important;
		letter-spacing: 1px;
		box-shadow: none !important;
	}

		#KSTL-Registration-UserName:focus, #KSTL-Registration-Password:focus, .KSTL-Registration .ng-form input:focus {
			outline: 0 !important;
			border: 2px solid #ffba00 !important;
		}

			#KSTL-Registration-UserName:focus::-webkit-input-placeholder, #KSTL-Registration-Password:focus::-webkit-input-placeholder, .KSTL-Registration .ng-form input:focus::-webkit-input-placeholder {
				color: transparent !important;
			}

			#KSTL-Registration-UserName:focus::-moz-placeholder, #KSTL-Registration-Password:focus::-moz-placeholder, .KSTL-Registration .ng-form input:focus::-moz-placeholder {
				color: transparent !important;
			}

			#KSTL-Registration-UserName:focus:-ms-input-placeholder, #KSTL-Registration-Password:focus:-ms-input-placeholder, .KSTL-Registration .ng-form input:focus:-ms-input-placeholder {
				color: transparent !important;
			}

			#KSTL-Registration-UserName:focus:-moz-placeholder, #KSTL-Registration-Password:focus:-moz-placeholder, .KSTL-Registration .ng-form input:focus:-moz-placeholder {
				color: transparent !important;
			}

	#KSTL-Registration-YourEmailAddress {
		text-transform: none !important;
	}

	#KSTL-Registration-wrapper-ContinueButton1 {
		width: 75vw;
	}

	.KSTL-Registration .ng-form .recaptcha {
		margin: 3.5vw 0 !important;
		display: flex;
		align-items: center !important;
		justify-content: center !important;
		margin-bottom: 50px;
	}

	select.form-control {
		-webkit-appearance: none;
		border-radius: 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	select::-ms-expand {
		display: none;
	}

	select.form-control:invalid {
		color: white;
	}

	.field-icon {
		color: #E40426;
		right: 0;
		position: absolute;
		z-index: 2;
		cursor: pointer;
		line-height: 1 !important;
		margin: 1vw .8vw 1vw !important;
		padding: 0.7vw 0.3vw .6vw !important;
		font-size: 1.3vw;
	}
	/*#KSTL-Registration-Gender {
            display: none !important
        }*/
	#KSTL-Registration-FamilyRole {
		display: none !important
	}

	#KSTL-Registration-Gender {
		text-align-last: center;
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance: none;
		background: transparent;
		background-repeat: no-repeat;
		background-position-x: 95%;
		background-position-y: 53%;
		background-size: 1.2vw;
	}

	#MySelectFamilyRole {
		text-align-last: center;
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance: none;
		background: transparent;
		background-repeat: no-repeat;
		background-position-x: 95%;
		background-position-y: 53%;
		background-size: 1.2vw;
	}

	.infoTooltip {
		padding: 0.5vw !important;
		text-align: center !important;
		margin-left: auto;
		margin-right: auto;
		font-size: 1vw !important;
		color: #E40426 !important;
		font-family: Arial !important;
        background-color: transparent !important;
		border: transparent !important;
		box-shadow: none !important;
	}

	#KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo input, .form-wrapper #KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo label {
		max-width: 100%;
		display: block;
		color: #E40426 !important;
		margin-top: auto;
		height: auto;
	}

	.KSTL-Registration .ng-form div.subscription {
		margin-bottom: 1vw !important;
		position: relative !important;
		width: 100% !important;
		min-height: unset !important;
		padding: unset !important;
		border-top: unset !important;
		background-repeat: unset !important;
		background-position: unset !important;
	}

	#KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo {
		margin-top: 1vw !important;
		height: auto;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		text-align: left;
	}

		#KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo > div > input {
			opacity: 0;
		}

		#KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo > div > label {
			color: #E40426 !important;
			font-family: Arial !important;
			font-weight: normal !important;
			line-height: 1.1 !important;
			text-transform: uppercase;
			text-align: left !important;
			cursor: pointer;
			margin-left: 5.5vw !important;
			font-size: 1.35vw !important;
		}

			#KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo > div > label:before {
				content: "\00a0";
				border: transparent !important;
				background-color: rgba(255,255,255, 0.6) !important;
				position: absolute;
				display: inline-block;
				height: 1.3vw;
				margin-left: -2vw !important;
				padding: 0;
				vertical-align: top;
				width: 1.3vw;
			}

		#KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo > div > input:checked + label:before {
			background: #E40426 !important;
		}

		#KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo > div > input:checked + label:after {
			font-weight: bold;
		}

		#KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo > div > input:focus + label::before {
			outline: 0 !important;
			border: 2px solid #ffba00 !important;
		}

	.KSTL-Registration .ng-form input[type=checkbox], .KSTL-Registration .ng-form input[type=radio] {
		border: none;
		box-shadow: none;
		float: left;
		clear: both;
		width: auto !important;
		height: auto !important;
		padding: 0;
	}

	#KSTL-Registration-wrapper-HeaderSubscription {
		height: auto;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		text-align: left;
	}

		#KSTL-Registration-wrapper-HeaderSubscription input, .form-wrapper #KSTL-Registration-wrapper-HeaderSubscription label {
			max-width: 100%;
			display: block;
			color: #E40426 !important;
		}

		#KSTL-Registration-wrapper-HeaderSubscription > div > div > input {
			opacity: 0;
		}

		#KSTL-Registration-wrapper-HeaderSubscription > div > div > label {
			color: #E40426 !important;
			font-family: Arial !important;
			font-weight: normal !important;
			line-height: 1.1 !important;
			text-transform: uppercase;
			text-align: left !important;
			cursor: pointer;
			margin-left: 5.5vw !important;
			font-size: 1.35vw !important;
		}

			#KSTL-Registration-wrapper-HeaderSubscription > div > div > label:before {
				content: "\00a0";
				border: transparent !important;
				background-color: rgba(255,255,255, 0.6) !important;
				position: absolute;
				display: inline-block;
				height: 1.3vw;
				margin-left: -2vw !important;
				padding: 0;
				vertical-align: top;
				width: 1.3vw;
			}

		#KSTL-Registration-wrapper-HeaderSubscription > div > div > input:checked + label:before {
			background: #E40426 !important;
		}

		#KSTL-Registration-wrapper-HeaderSubscription > div > div > input:checked + label:after {
			font-weight: bold;
		}

		#KSTL-Registration-wrapper-HeaderSubscription > div > div > input:focus + label::before {
			outline: 0 !important;
			border: 2px solid #ffba00 !important;
		}

	.KSTL-Registration .ng-form div.subscription.subscription-EM {
		background-image: unset !important;
	}

	#KSTL-Registration-PrivacyPolicy {
		opacity: 0;
	}

		#KSTL-Registration-PrivacyPolicy + label {
			color: #356230;
			font-family: Arial !important;
			font-weight: normal !important;
			line-height: 1.2 !important;
			letter-spacing: 1px;
			text-transform: uppercase;
			text-align: left !important;
			cursor: pointer;
			margin-left: 4vw !important;
			font-size: 0.933rem !important;
		}

			#KSTL-Registration-PrivacyPolicy + label:before {
				position: absolute;
				border: 2px solid #356230;
				content: "\00a0";
				display: inline-block;
				font: 16px/1em sans-serif;
				height: 16px;
				margin-left: -20px !important;
				padding: 0;
				vertical-align: top;
				width: 16px;
			}

		#KSTL-Registration-PrivacyPolicy:checked + label:before {
			background: #FFC20C;
			color: #ED1C24;
			content: "\2713";
		}

		#KSTL-Registration-PrivacyPolicy:checked + label:after {
			font-weight: bold;
		}

		#KSTL-Registration-PrivacyPolicy:focus + label::before {
			border: 2px solid #ffffff !important;
			box-shadow: 0 0 32px rgb(255 255 255 / 70%) !important;
			outline: 0;
		}

	.KSTL-Registration .ng-form input[type=checkbox], .KSTL-Registration .ng-form input[type=radio] {
		border: none;
		box-shadow: none;
		float: left;
		clear: both;
		width: auto !important;
		padding: 0;
	}

	.success-message {
		color: #FEFFFF;
		font-size: 0.5rem;
		margin-top: 5px;
		text-align: center;
		text-transform: uppercase;
	}

	.custom-error-form {
		background-color: #f10b2b;
		color: #ffffff;
		margin: 0.5rem 0;
		width: fit-content;
		align-self: flex-end;
		font-family: Arial !important;
		font-size: 18px;
		border-radius: 1.15rem;
		line-height: 1.25;
		max-width: 75%;
		padding: 0.5rem .875rem;
		padding-top: 0.6rem;
		position: relative;
		word-wrap: break-word;
		margin-top: -24px;
		margin-right: -40px;
	}

	.form-error > p {
		margin-bottom: 0px !important;
		color: #E40426;
	}

	.custom-error-form:before {
		border-top-right-radius: 0.8rem 0.7rem;
		border-left: 0.5rem solid #f10b2b;
		border-top: 1.2rem solid #f10b2b;
		left: 0px;
		transform: translate(0.1rem, -0.2rem);
	}

	.custom-error-form::after {
		background-color: #9896c3;
		border-bottom-right-radius: 1rem;
		left: 22px;
		transform: translate(-21px, -5px) rotate(100deg);
		width: 0.6rem !important;
		height: 0.6rem !important;
	}

	.custom-error-form::before, .custom-error-form::after {
		top: -0.2rem;
		content: "";
		height: 1rem;
		position: absolute;
	}

	.row .form-group {
		-ms-flex: 1;
		flex: 1;
	}

	.epsilonregistro .KSTL-Registration-button {
		margin-bottom: 6vw;
		margin-top: 3vw;
	}

	.epsilonregistro .KSTL-Registration button {
		animation: jittery 4s infinite;
		margin-left: auto;
		margin-right: auto;
		width: auto;
		height: auto;
		border-radius: 3vw;
		cursor: pointer;
		color: #FFC803 !important;
		background-image: linear-gradient(to right, #fe0d0e, #e60404);
		border: none;
		text-decoration: none !important;
		font-family: Arial !important;
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		transition: transform 0.3s;
		/*transition: color 0.3s ease-out;*/
		/*transition: background-color 0.3s ease-out;*/
		transition: background-image 0.3s ease-out;
	}

		.epsilonregistro .KSTL-Registration button:active {
			outline: none;
			border: none;
		}

		.epsilonregistro .KSTL-Registration button:focus {
			outline: none !important;
			border: 2px solid #ffffff !important;
			box-shadow: 0 0 32px rgb(255 255 255 / 70%) !important;
		}

		.epsilonregistro .KSTL-Registration button:hover {
			color: #E40426 !important;
			border: 0.3vw solid #ffbc00;
			background-image: linear-gradient(to right, #ffdd00, #ff9e00);
			-moz-box-shadow: 0 0 2vw 0.5vw rgb(242 208 99 / 60%);
			-webkit-box-shadow: 0 0 2vw 0.5vw rgb(242 208 99 / 60%);
			box-shadow: 0 0 2vw 0.5vw rgb(214 137 0 / 90%);
		}

		.epsilonregistro .KSTL-Registration button span {
			padding: 0.6vw;
			font-size: 1.5vw;
			padding-left: 7.5vw;
			padding-right: 7.5vw;
			letter-spacing: 0.2vw;
		}

	.error-form {
		background-color: transparent !important;
		color: #ffffff !important;
		margin-top: 2vw !important;
		margin-right: 0px !important;
		max-width: 100% !important;
	}

	.ai-small {
		height: 15px;
		width: 15px;
		border-width: 4px;
	}

		.ai-small:after {
			content: '' !important;
			font-size: 2.7vw;
		}

	.KSTL-Registration h1, .KSTL-Registration h2, .KSTL-Registration h3, .KSTL-Registration p {
		margin: 0 0 0 !important;
	}

	.KSTL-Registration .ng-form .survey > div > div, .KSTL-Registration .ng-form > div > div {
		margin-bottom: 1.85vw !important;
	}

	#KSTL-Registration-wrapper-PrivacyPolicy input, .form-wrapper #KSTL-Registration-wrapper-PrivacyPolicy label {
		max-width: 100%;
		display: block;
		color: #356230;
		margin-top: 10px;
	}

	.main .KSTL-Registration .pod,
	.main .KSTL-Registration-Registration .pod {
		border: none !important;
		min-width: auto;
		padding: 0;
		overflow: unset;
		margin-bottom: 0 !important;
	}

	.KSTL-Registration .pod,
	.KSTL-Registration-Registration .pod {
		border: none !important;
		min-width: auto;
		padding: 0;
		overflow: unset;
		margin-bottom: 0 !important;
		width: 67%;
        overflow-x: hidden !important;
	}

	.main .KSTL-Registration .pod .form-error p,
	.main .KSTL-Registration-Registration .pod .form-error p,
	.main .KSTL-Registration .pod .success-message p,
	.main .KSTL-Registration-Registration .pod .success-message p {
		color: inherit;
		font-size: inherit;
	}

	.main .KSTL-Registration button,
	.main .KSTL-Registration-Registration button {
		font-size: 1.5rem;
	}

	.main .KSTL-Registration h2:not(.title),
	.main .KSTL-Registration-Registration h2:not(.title) {
		font-family: Arial !important;
		font-size: 2rem;
		font-weight: normal;
	}

	.main .KSTL-Registration p, .main .KSTL-Registration-Registration p {
		color: #E40426 !important;
		text-align: center !important;
		font-size: 1.2vw !important;
		font-family: Arial !important;
		margin-top: 0.5vw !important;
		margin-bottom: 0.5vw !important;
	}

		.main .KSTL-Registration p a,
		.main .KSTL-Registration-Registration p a {
			color: #fff;
			line-height: 1.2;
		}
	/*---------------- Fin Registro -------------------------*/
	/*---------------- Inicio Login ----------------------------*/
	.login {
		background-image: url(/Content/Assets/Login/Bg-Textura-Movil.png), url(/Content/Assets/Login/Bg-Resplandor-Movil.png);
		-ms-background-size: 100%, cover;
		-moz-background-size: 100%, cover;
		-webkit-background-size: 100%, cover;
		-webkit-background-size: 100%, cover;
		background-size: 100%, cover;
		background-position: center 1%, center center;
	}

	.containerIniciaSesion {
		margin-top: 21vw;
		margin-bottom: 10vw;
	}

	.titleIniciaSesion {
		font-size: 7.9vw;
		filter: drop-shadow(0px 1vw #ffba00);
	}

	.containerCompletaDatos {
		width: 76vw;
	}

	.subTitleIniciaSesion {
		margin-top: 0.4vw;
		font-size: 4.2vw;
	}

	.subtitleCompletaDatos {
		width: 45vw;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2.5vw;
		line-height: 1;
		font-size: 4.9vw;
	}

	.containerCompletaDatos {
		width: 76vw;
	}

	.cedulaCompletaDatos {
	}

	.addressLineCompletaDatos {
	}

	.cityCompletaDatos {
	}

	.familyRoleCompletaDatos {
	}

	.genderCompletaDatos {
	}

	.phoneNumberCompletaDatos {
	}

	.termsCompletaDatos {
	}

	.continueBtnCompletaDatos {
		width: 76vw !important;
	}

	#reg-container {
		width: 100%;
	}

	#KSTL-Registration-wrapper-ForgotPasswordLink {
        height: 0px;
	}
	.containerLogin {
		width: 75vw !important;
		margin-top: 7.35vw !important;
		margin-bottom: 14vw !important;
	}

	.KSTL-Registration .ng-form label {
		font-size: 13px !important;
		letter-spacing: 0.5px !important;
	}

	.forgot-password {
		margin-top: -0.8vw;
        display: flex !important;
        justify-content: center !important;
	}

		.forgot-password .link {
			font-size: 1.5vw;
		}

	.custom-error-form {
		font-size: 0.6rem !important;
		margin-top: -11px;
		margin-right: -28px;
	}

		.custom-error-form::after {
			background-color: #9896c3;
			border-bottom-right-radius: 1rem;
			left: 22px;
			transform: translate(-21px, -7px) rotate(100deg);
			width: 0.6rem !important;
			height: 0.6rem !important;
		}
	/*.error-form::after {
            width: 0px !important;
            height: 0px !important;
        }*/
	.field-icon {
		margin: 2.7vw 1.8vw 2.7vw !important;
		font-size: 3.5vw;
	}

	.not-register .link {
		font-size: 3.5vw;
	}

	#KSTL-Registration-wrapper-ContinueButton {
        margin: 3.5vw 0 !important;
		margin-top: 9.8vw;
	}

	.epsilonlogin .KSTL-Registration button {
		border-radius: 7vw
	}

		.epsilonlogin .KSTL-Registration button:focus {
			border: 1px solid #ffffff !important;
			box-shadow: 0 0 6vw rgb(255 255 255 / 70%) !important;
		}
		/*.epsilonlogin .KSTL-Registration button:hover {
            background-image: linear-gradient(to right, #ffdd00, #ffb700);
            -moz-box-shadow: 0 0 2vw 0.5vw rgb(242 208 99 / 60%);
            -webkit-box-shadow: 0 0 2vw 0.5vw rgb(242 208 99 / 60%);
            box-shadow: 0 0 2.5vw 2.5vw rgb(242 208 99 / 60%);
        }*/
		.epsilonlogin .KSTL-Registration button span {
			padding: 0.4vw 14vw !important;
			font-size: 4vw !important;
			padding-top: 0.5vw !important;
			letter-spacing: 1px !important;
		}

	.not-register {
		margin-top: 3vw;
	}
	/*---------------- Fin Login -------------------------------*/

	/*---------------------- Inicio Registro --------------------------------*/
	.bg-Registro {
		background-image: url(/Content/Assets/Registro/Bg-Textura-Movil.png), url(/Content/Assets/Registro/Bg-Resplandor-Movil.png);
		-ms-background-size: 100%, cover;
		-moz-background-size: 100%, cover;
		-webkit-background-size: 100%, cover;
		background-size: 100%, cover;
		background-position: 50% 4%, center center;
	}

	.container-registro {
		width: 75vw !important;
		margin-top: 11.5vw !important;
		margin-bottom: 24vw !important;
		padding: 0px !important;
	}

	.titleRegistro {
		margin-top: 19.7vw;
		font-size: 10.5vw;
		filter: drop-shadow(0px 1vw #ffba00);
	}

	.subTitleRegistro {
		margin-top: -1.5vw;
		font-size: 3.8vw;
	}

	.form-wrapper .form-group {
		-ms-flex-preferred-size: 100%;
		flex-basis: 50%;
	}

	.KSTL-Registration {
		display: flex !important;
		justify-content: center !important;
	}

	.KSTL-Registration .ng-form .survey > div > div, .KSTL-Registration .ng-form > div > div {
		margin-bottom: 1.5vw !important;
	}

		#KSTL-Registration-UserName, #KSTL-Registration-Password, .KSTL-Registration .ng-form input, .KSTL-Registration .ng-form select {
			height: 3vw !important;
			border-radius: 5vw !important;
			margin: 0px !important;
			font-size: 1vw !important;
			letter-spacing: 0.2px;
            font-family: Arial !important;
		}

		#KSTL-Registration-UserName:focus, #KSTL-Registration-Password:focus, .KSTL-Registration .ng-form input:focus {
			outline: 0 !important;
			border: 1px solid #ffba00 !important;
		}

	.infoTooltip {
		padding: 1vw !important;
		font-size: 1vw !important;
	}

	#KSTL-Registration-wrapper-HeaderSubscription > div > div > label {
		letter-spacing: 0px !important;
		margin-left: 7vw !important;
		margin-right: 1vw !important;
		font-size: 1vw !important;
		width: 96%
	}

		#KSTL-Registration-wrapper-HeaderSubscription > div > div > label:before {
			height: 2vw;
			margin-left: -4vw !important;
			width: 2vw;
		}

	#KSTL-Registration-wrapper-HeaderSubscription > div > div > input:focus + label::before {
		outline: 0 !important;
		border: 1px solid #ffba00 !important;
	}

	#KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo > div > label {
		letter-spacing: 0px !important;
		margin-left: 7vw !important;
		margin-right: 1vw !important;
		font-size: 1vw !important;
		width: 96%
	}

		#KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo > div > label:before {
			height: 2vw;
			margin-left: -4vw !important;
			width: 2vw;
		}

	#KSTL-Registration-wrapper-TermsConditionPrvcyPolicyCombo > div > input:focus + label::before {
		outline: 0 !important;
		border: 1px solid #ffba00 !important;
	}

	.form-group {
		margin: 0;
	}

	#Registration-recaptcha-Login {
        margin: 1.5vw 0 !important;
	}

	.main .KSTL-Registration p, .main .KSTL-Registration-Registration p {
		font-size: 2.5vw !important;
		margin-top: 1vw !important;
		margin-bottom: 1vw !important;
	}

	.epsilonregistro:first-child {
		width: 100% !important;
	}

	.KSTL-Registration .ng-form .recaptcha {
		margin: 3.5vw 0 !important;
		margin-bottom: 2vw !important;
	}

	.epsilonregistro .KSTL-Registration button {
		border-radius: 7vw
	}

		.epsilonregistro .KSTL-Registration button:focus {
			border: 1px solid #ffffff !important;
			box-shadow: 0 0 6vw rgb(255 255 255 / 70%) !important;
		}
		/*.epsilonregistro .KSTL-Registration button:hover {
            background-image: linear-gradient(to right, #ffdd00, #ffb700);
            -moz-box-shadow: 0 0 2vw 0.5vw rgb(242 208 99 / 60%);
            -webkit-box-shadow: 0 0 2vw 0.5vw rgb(242 208 99 / 60%);
            box-shadow: 0 0 2.5vw 2.5vw rgb(242 208 99 / 60%);
        }*/
		.epsilonregistro .KSTL-Registration button span {
			padding: 0.4vw 15vw;
			font-size: 3.6vw;
			padding-top: 0.5vw;
			letter-spacing: 1.3px;
		}
	/*---------------------- Fin Registro -----------------------------------*/

	.KSTL-Registration-button {
        margin-bottom: -3em !important;
	}

	.btn-sube {
		display: inline-block !important;
		outline: none !important;
		-webkit-user-select: none !important;
		cursor: pointer !important;
		-webkit-border-radius: 10px !important;
		-moz-border-radius: 10px !important;
		margin-left: 30px !important;
		width: 89% !important;
		vertical-align: center !important;
	}

    
	
}


.loader-div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: gray;
	opacity: 0.5;
	pointer-events: none;
}

.noClick {
    pointer-events: none;
}

.time-size {
    font-size: .7em;
}


.KSTL-Registration-button button {
    position: relative;
    background: linear-gradient(45deg, #F4E10B, #EF9B23) !important;
    margin: 0.5em 0 0;
    border: 2px solid #F4E10B;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 44px;
    margin-left: 30px;
    box-shadow: 1px 6px 7px -6px #f4e10b;
    width: 70%;
}

.KSTL-Registration-button p {
    text-align: center;
}

.KSTL-Registration-button button span {
    text-align: center;
}


.custom-file-input {
    color: transparent;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

	.custom-file-input::before {
		content: 'Sube la foto';
		color: #E40426;
		text-align: center;
		display: inline-block;
		outline: none;
		white-space: nowrap;
		-webkit-user-select: none;
		cursor: pointer;
		font-weight: bold;
		font-weight: bold;
		font-size: 1em;
		position: relative;
		background: linear-gradient(45deg, #F4E10B, #EF9B23) !important;
		padding: 28px;
		margin: 0.5em 0 0;
		border: 2px solid #F4E10B;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 44px;
		margin-left: 30px;
		box-shadow: 1px 6px 7px -6px #f4e10b;
		width: 89%;
        height: 5em;
	}

.customDisabledInput {
	background-color: #dbdbdb !important;
	cursor: not-allowed !important;
}

.ai-circled{
    display: none !important;
}
.rojo {
	color: #e40426;
}




.KSTL-Registration .RegMain {
	width: 50%;
}

#KSTL-Registration-wrapper-ContinueButton div p button span{
    color: #E40426;
    text-align: center; 
    font-weight: bold;
}

#KSTL-Registration-wrapper-ContinueButton1 div p button span {
    color: #E40426;
    text-align: center;
    font-weight: bold;
}

.linkRojo {
    font-family: Arial;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    color: #e40426;
}

#KSTL-Registration-wrapper-ForgotPasswordLink div div {
    text-align: center;
}

	#KSTL-Registration-wrapper-ForgotPasswordLink div div a {
        font-family: Arial;
        text-decoration: underline;
        font-weight: bold;
        cursor: pointer;
        color: #e40426;
	}

.footer-fix {
    margin-top: 0.5em !important;
    margin-bottom: -0.7em !important;
}

.footer-fix-desk {
    margin-bottom: -1.6em !important;
}


